@{
    Layout = null;
    List<ReorderList> list = (List<ReorderList>)Session["ReorderList"];
}
@using SA46Team1_Web_ADProj.Models;
@model Item

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />
<script>
    var table;
    // Load Datatable
    $(document).ready(function () {
        table = $('#dataTable-storeManagerInventoryReorder').DataTable({
            //scrollY: '30vh',
            "iDisplayLength": 5,
            scrollCollapse: true,
            paging: true,
            columnDefs: [{
                "targets": -1,
                "data": null,
                "defaultContent": "<input id='selectall' type='checkbox' checked/>"
            },
                {
                    className: 'text-center', targets: [0, 1, 2, 3, 4]
                }
            ]
        });
    });

    $(function () {
        $("#dialog").dialog({
            autoOpen: false
        });
    });

    $('#btn-create-POs').on('click', function () {
        var dataToSend = "";

        var arr1 = []; //item qty
        var arr2 = []; //item desc
        var arrSupplier = [];  //supplier

        for (var i = 0; i < table.rows().data().length; i++) {
            var rowChecked =
                table.cell(i, 4).nodes().to$().find('input').prop('checked');
            if (rowChecked == true) {
                var dataToSend = table.rows(i).data();

                var rowItemQty = table.cell(i, 1).nodes().to$().find('input').val();
                arr1.push(rowItemQty);

                var json = dataToSend[0];
                arr2.push(json[0]);

                var rowSupplier = table.cell(i, 3).nodes().to$().find(":selected").text();
                arrSupplier.push(rowSupplier);
            }
        }

        $.ajax({
            url: '/StoreInventory/AddToPO',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            data: JSON.stringify({ arr1: arr1, arr2: arr2, arrSupplier: arrSupplier })
        });

        window.location.href = '@Url.Action("Inventory", "Store")';
        alert('Items Added');

    });

    $('body').on('change', '#mass_select_all', function () {
            table.$('input:checkbox').not(this).prop('checked', this.checked);

    });


</script>

<div>
    <h5>Inventory - Reorder</h5>
</div>

<table id="dataTable-storeManagerInventoryReorder" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Description</th>
            <th>Reorder Qty</th>
            <th>Unit of Measure</th>
            <th>Supplier</th>
            <th><input type="checkbox" id="mass_select_all" data-to-table="dataTable-storeManagerInventoryReorder"></th>
        </tr>
    </thead>

    @foreach (var item in list)
    {
        <tr style="font-size: 10pt;">
            <th>@item.Description</th>
            <th><input id="input-qty" type="number" min="1" pattern="[0-9]" step="1" value=@item.ReOrderQuantity /></th>
            <th>@item.UoM</th>
            <th>
                <select>
                    <option value="@item.s1">@item.s1</option>
                    <option value="@item.s2">@item.s2</option>
                    <option value="@item.s3">@item.s3</option>
                </select>
            </th>
            <th></th>
        </tr>
    }

</table>

<hr />

<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                <button class="btn btn-lu-blue" id="btn-create-POs" style="font-size: 10pt;">Create Purchase Order</button>
            </span>
        </div>
    </div>
</div>

<div id="dialog" class="hidden" title="Basic dialog">
    <p>Purchase order(s) have been created.</p>
</div>