@*--------------------------------
    Author: Chirag Shetty
    --------------------------------*@

@{
    Layout = null;
}
<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />
<script>
    if(@Session["Role"].ToString().CompareTo("Store Manager") == 0) {
        $(document).ready(function () {
            $.ajax({
                headers: {
                    'Authorization': 'Bearer @Session["access-token"].ToString()',
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: 'http://localhost:49921/api/Restful/GetStockAdjustmentManagerApproval',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    $('#dataTable-storeManagerInventoryReviewAdj').dataTable({
                        paging: true,
                        sort: true,
                        order: [[1, "desc"]],
                        searching: true,
                        data: data,
                        columns: [
                            { 'data': 'RequestId' },
                            {
                                'data': 'DateRequested',
                                'render': function (jsonDate) {

                                    var date = new Date(jsonDate.substr(0));
                                    var month = date.getMonth() + 1;
                                    return date > 1 ? date.getDate() + "/" + month + "/" + date.getFullYear() : "";
                                }
                            },
                            { 'data': 'Requestor' },
                            { 'data': 'ItemCode' },
                            { 'data': 'Description' },
                            { 'data': 'CategoryName' },
                            { 'data': 'ItemQuantity' },
                            { 'data': 'Amount' },
                            { 'data': 'Remarks' },
                            { 'data': 'Status' },
                        ],
                        columnDefs: [{
                            className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                            targets: [-1], render: function (data, type, row) {
                                switch (data) {
                                    case 'Pending': return '<button type ="submit" class="btn btn-lu-green" id="Approve"  style="width: 8vw;" onclick="approveFunction(\'' + row["RequestId"] + '\', \'' + row["ItemCode"] + '\')">Approve</button><button id ="Reject" class="btn btn-lu-red"  style="width: 8vw;" onclick="rejectFunction(\'' + row["RequestId"] + '\', \'' + row["ItemCode"] + '\')">Reject</button>'; break;
                                    case 'Approved': return 'Approved'; break;
                                    default: return 'Rejected';
                                }
                            }
                        },
                        {
                            targets: [3], visible: false,
                        }
                        ]
                    });
                }
            });
        });
    }
    else {
            $(document).ready(function () {
                $.ajax({
                    headers: {
                        'Authorization': 'Bearer @Session["access-token"].ToString()',
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: 'http://localhost:49921/api/Restful/GetStockAdjustmentSupervisorApproval',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        $('#dataTable-storeManagerInventoryReviewAdj').dataTable({
                            paging: true,
                            sort: true,
                            "iDisplayLength": 5,
                            scrollY: 450,
                            order: [[9, "desc"], [0, "desc"]],
                            searching: true,
                            data: data,
                            columns: [
                                { 'data': 'RequestId' },
                                {
                                    'data': 'DateRequested',
                                    'render': function (jsonDate) {

                                        var date = new Date(jsonDate.substr(0));
                                        var month = date.getMonth() + 1;
                                        return date > 1 ? date.getDate() + "/" + month + "/" + date.getFullYear() : "";
                                    }
                                },
                                { 'data': 'Requestor' },
                                { 'data': 'ItemCode' },
                                { 'data': 'Description' },
                                { 'data': 'CategoryName' },
                                { 'data': 'ItemQuantity' },
                                {
                                    'data': 'Amount',
                                    'render': function (data, type, row) {
                                        return parseFloat(Math.round(data * 100) / 100).toFixed(2);;
                                    }
                                },
                                { 'data': 'Remarks' },
                                { 'data': 'Status' },
                            ],
                            columnDefs: [{
                                targets: [-1], render: function (data, type, row) {
                                    switch (data) {
                                        case 'Pending': return '<button type ="submit" class="btn btn-lu-green" style="width: 8vw;" id="Approve" onclick="approveFunction(\'' + row["RequestId"] + '\', \'' + row["ItemCode"] + '\')">Approve</button><button id ="Reject" class="btn btn-lu-red"  style="width: 8vw;" onclick="rejectFunction(\'' + row["RequestId"] + '\', \'' + row["ItemCode"] + '\')">Reject</button>'; break;
                                        case 'Approved': return 'Approved'; break;
                                        default: return 'Rejected';
                                    }
                                }
                            },
                            {
                                targets: [3], visible: false,
                                },{ className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
                            ]
                        });
                    }
                });
            });
    }
    function approveFunction(requestId, itemCode) {
        $.ajax({
            url: '/Store/StoreInventoryManager/Approve',
            method: 'POST',
            async: false,
            data: {
                'requestId': requestId,
                'itemCode': itemCode
            }
        });

       window.location.href = '@Url.Action("Approval", "Store")';

    }
    function rejectFunction(requestId, itemCode) {
        $.ajax({
            url: '/StoreManagerInventory/Reject',
            method: 'POST',
            async: false,
            data: {
                'requestId': requestId,
                'itemCode': itemCode
            }
        });
         window.location.href = '@Url.Action("Approval", "Store")';
    }

</script>
<div id="loading" style="font-family: 'Oxygen', sans-serif;">

    <table id="dataTable-storeManagerInventoryReviewAdj" class="display" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>Adjustment #</th>
                <th>Date</th>
                <th>Employee</th>
                <th>Item Code</th>
                <th>Item Description</th>
                <th>Category</th>
                <th>Adjusted Quantity</th>
                <th>Adjusted Amount</th>
                <th>Remark</th>
                <th>Approval Status</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt;"></tbody>
    </table>
</div>