@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
 var table;
    $(document).ready(function () {

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetPendingApprovalsById/' + '@Session["ReviewNewRequisitionId"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-approval-details').DataTable({
                    paging: true,
                    sort: true,
                    searching: false,
                    "iDisplayLength": 5,
                    //scrollY: 200,
                    data: data,
                    responsive: true,
                    columns: [
                        { 'data': 'ItemDesc' },
                        { 'data': 'UOM' },
                        { 'data': 'OrderQty' }
                    ],
                    columnDefs: [
                        { className: 'text-center', targets: [0, 1, 2] },
                    ],
                });
            }
        });
    });

    $(function () {
        $("#dialog-approve-req-form").dialog({
            autoOpen: false
        });
    });

    $('#btn-approve-req-form').click(function () {
        $.ajax({
            url: '/DeptApproval/Approve',
            type: 'POST',
        });

        table.draw(false);

        $('#dialog-approve-req-form').dialog('open');
        window.location.href = '@Url.Action("Approval", "Dept")';

        return false;
    });

    $(function () {
        $("#dialog-reject-req-form").dialog({
            autoOpen: false
        });
    });

    $('#btn-reject-req-form').click(function () {
        $.ajax({
            url: '/DeptApproval/Reject',
            type: 'POST',
        });

        table.draw(false);

        $('#dialog-reject-req-form').dialog('open');
        window.location.href = '@Url.Action("Approval", "Dept")';

        return false;
    });
</script>

<div>
    <h5>Requisition Approval</h5>
    <h6>Requisition Form @Session["ReviewNewRequisitionId"]</h6>
</div>


<table id="dataTable-approval-details" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Description</th>
            <th>Unit of Measure</th>
            <th>Order Qty</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;">
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

<div>
    <p>Requested By: @TempData["RequisitionRequstor"]  </p>
    <p>Requested Date:  @TempData["RequisitionDateReq"]  </p>
</div>

<div>
    <p>Remarks:</p>
    <textarea rows="4" cols="50">
    </textarea>
</div>

<div id="btns-grp-btm" style="font-size: 10pt;">
    <button class="btn-lu-red" id="btn-reject-req-form">Reject</button>
    <div id="dialog-reject-req-form" class="hidden" title="Reject Requisition">
        <p>The displayed Stationary request has been rejected.</p>
    </div>

    <button class="btn-lu-green" id="btn-approve-req-form">Approve</button>
    <div id="dialog-approve-req-form" class="hidden" title="Approve Requisition">
        <p>The displayed Stationary request has been approved.</p>
    </div>
</div>

<div id="details-back-btn" style="font-size: 10pt;">

    @using (Html.BeginForm("BackToApprovalList", "DeptApproval", FormMethod.Post))
    {
        <input class="btn-lu-blue" type="submit" value="Back" />
    }
</div>


@*<style>
    #btns-grp-btm {
        margin-right: 10vw;
    }
</style>*@