@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
 var table;
    $(document).ready(function () {

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetPendingApprovalsById/' + '@Session["ReviewNewRequisitionId"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-approval-details').DataTable({
                    scrollY: 200,
                    scrollCollapse: false,
                    paging: true,
                    sort: true,
                    searching: false,
                    "iDisplayLength": 5,
                    data: data,
                    responsive: true,
                    columns: [
                        { 'data': 'ItemDesc' },
                        { 'data': 'UOM' },
                        { 'data': 'OrderQty' }
                    ],
                    columnDefs: [
                        { className: 'text-center', targets: [0, 1, 2] },
                    ],
                });
            }
        });
    });

    $(function () {
        $("#dialog-approve-req-form").dialog({
            autoOpen: false
        });
    });

    $('#btn-approve-req-form').click(function () {
        $.ajax({
            url: '/DeptApproval/Approve',
            type: 'POST',
            async: false
        });

        table.draw(false);

        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
        $('#dialog-approve-req-form').dialog('open');
        window.location.href = '@Url.Action("Approval", "Dept")';

        return false;
    });

    $(function () {
        $("#dialog-reject-req-form").dialog({
            autoOpen: false
        });
    });

    $('#btn-reject-req-form').click(function () {
        $.ajax({
            url: '/DeptApproval/Reject',
            type: 'POST',
            async: false
        });

        table.draw(false);

        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
        $('#dialog-reject-req-form').dialog('open');
        window.location.href = '@Url.Action("Approval", "Dept")';

        return false;
    });

    $("#dialog-reject-req-form").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-reject-req-form').dialog('close');
    });

    $("#dialog-approve-req-form").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-approve-req-form').dialog('close');
    });

</script>

<div>
    <h5>Requisition Approval</h5>
    <h6>Requisition Form @Session["ReviewNewRequisitionId"]</h6>
</div>


<table id="dataTable-approval-details" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Description</th>
            <th>Unit of Measure</th>
            <th>Order Qty</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;">
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-6">
        <div>
            <p>Requested By: @TempData["RequisitionRequstor"]</p>
            <p>Requested Date:  @TempData["RequisitionDateReq"]</p>
        </div>
    </div>
    <div class="col-md-6">
        <div style="float:right;">
            <div>
                <p>Remarks:</p>
                <textarea rows="4" cols="50"></textarea>
            </div>
        </div>
    </div>
</div>

@*<div id="btns-grp-btm" style="font-size: 10pt;">
    
</div>*@

<div class="row">
    <div class="col-md-6">
        <div id="details-back-btn" style="font-size: 10pt;">

            @using (Html.BeginForm("BackToApprovalList", "DeptApproval", FormMethod.Post))
            {
                <input class="btn btn-lu-blue" type="submit" value="Back" />
            }
        </div>
    </div>
    <div class="col-md-6">
        <div style="float:right">
            <button class="btn btn-lu-red" id="btn-reject-req-form">Reject</button>
            <div id="dialog-reject-req-form" class="hidden" @*title="Reject Requisition"*@>
                <br />
                <div style="text-align:center;">
                    <h5>The displayed Stationary request has been rejected.</h5>
                </div>
                <hr />
            </div>

            <button class="btn btn-lu-green" id="btn-approve-req-form">Approve</button>
            <div id="dialog-approve-req-form" class="hidden" @*title="Approve Requisition"*@>
                <br />
                <div style="text-align:center;">
                    <h5>The displayed Stationary request has been approved.</h5>
                </div>             
                <hr />
            </div>
        </div>
    </div>
</div>
