@{
    Layout = null;
    List<ReorderList> list = (List<ReorderList>)Session["ReorderList"];
}
@using SA46Team1_Web_ADProj.Models;
@model Item

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;
    // Load Datatable
    $(document).ready(function () {
        table = $('#dataTable-storeManagerInventoryReorder').DataTable({
            //scrollY: '30vh',
            "iDisplayLength": 5,
            scrollCollapse: true,
            paging: true,
            columnDefs: [{
                "targets": -1,
                "data": null,
                "defaultContent": "<input id='selectall' type='checkbox' checked/>"
            },
                {
                    className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7]
                }
            ]
        });
    });

    $(function () {
        $("#dialog-create-po").dialog({
            autoOpen: false
        });
    });

    $(function () {
        $("#dialog-create-po-error").dialog({
            autoOpen: false
        });
    });

    $('#btn-create-POs').on('click', function () {
        var dataToSend = "";

        var arr1 = []; //item qty
        var arr2 = []; //item desc
        var arrSupplier = [];  //supplier

        if (table.rows().data().length == 0) {
            $('#dialog-create-po-error').dialog('open');
            return;
        }

        var validation = 0;

        for (var i = 0; i < table.rows().data().length; i++) {
            var rowChecked =
                table.cell(i, 7).nodes().to$().find('input').prop('checked');
            if (rowChecked == true) {
                var dataToSend = table.rows(i).data();

                var rowItemQty = table.cell(i, 4).nodes().to$().find('input').val();
                validation += parseFloat(rowItemQty);
                arr1.push(rowItemQty);

                var json = dataToSend[0];
                arr2.push(json[0]);

                var rowSupplier = table.cell(i, 6).nodes().to$().find(":selected").text();
                arrSupplier.push(rowSupplier);
            }
        }

        if (validation > 0 && validation % 1 == 0) {
             $.ajax({
                url: '/StoreInventory/AddToPO',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                data: JSON.stringify({ arr1: arr1, arr2: arr2, arrSupplier: arrSupplier })
            });
            
            window.location.href = '@Url.Action("Inventory", "Store")';
        }

    });

    $('body').on('change', '#mass_select_all', function () {
            table.$('input:checkbox').not(this).prop('checked', this.checked);

    });

</script>

<div>
    <h5>Inventory - Reorder</h5>
</div>

<table id="dataTable-storeManagerInventoryReorder" class="display" style="width:100%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Description</th>
            <th>Quantity On Hand</th>
            <th>Reorder Level</th>
            <th>Suggested Reorder Qty</th>
            <th>Actual Order Qty</th>
            <th>Unit of Measure</th>
            <th>Supplier</th>
            <th>Include in PO <br /><input type="checkbox" checked id="mass_select_all" data-to-table="dataTable-storeManagerInventoryReorder"></th>
        </tr>
    </thead>
    @foreach (var item in list)
    {
        <tr style="font-size: 10pt;">
            <th>@item.Description</th>
            <th>@item.Quantity</th>
            <th>@item.ReOrderLevel</th>
            <th>@item.ActualReorder</th>
            <th><input type="number" min="0" pattern="[0-9]" id="input-qty" style="text-align: center;" value=@item.ActualReorder /></th>
            <th>@item.UoM</th>
            <th>
                <select>
                    <option value="@item.s1">@item.s1</option>
                    <option value="@item.s2">@item.s2</option>
                    <option value="@item.s3">@item.s3</option>
                </select>
            </th>
            <th></th>
        </tr>
    }

</table>

<hr />

<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                @if (list.Count == 0)
                {
                    <button type="submit" disabled class="btn btn-lu-blue" id="btn-create-POs" style="font-size: 10pt;">Create Purchase Order</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lu-blue" id="btn-create-POs" style="font-size: 10pt;">Create Purchase Order</button>
                }
            </span>
        </div>
    </div>
</div>

@TempData["ErrorMsg"]

<div id="dialog-create-po" class="hidden" title="Basic dialog">
    <p>Purchase order(s) have been created.</p>
</div>

<div id="dialog-create-po-error" class="hidden" title="Basic dialog">
    <p>There are no reorder items available.</p>
</div>

