@model SA46Team1_Web_ADProj.Models.StockAdjustmentDetail

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {

        var dialogDiv = $('#dialog-addItem-newStockAdj');

        var table = $('#dataTable-storeInventoryNewAdj').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true,
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button>Delete</button>"
            }]
        });

        $('#dataTable-storeInventoryNewAdj tbody').on('click', 'button', function () {
            table.row($(this).parents('tr'))
                .remove()
                .draw();
        });

        dialogDiv.dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                'Create': AddItem,
                'Cancel': function () {
                    dialogDiv.dialog('close');
                    clearInputFields();
                }
            }
        });

        function postURL(url, multipart) {
            var form = document.createElement("FORM");
            form.method = "POST";
            if (multipart) {
                form.enctype = "multipart/form-data";
            }
            form.style.display = "none";
            document.body.appendChild(form);
            form.action = url.replace(/\?(.*)/, function (_, urlArgs) {
                urlArgs.replace(/\+/g, " ").replace(/([^&=]+)=([^&=]*)/g, function (input, key, value) {
                    input = document.createElement("INPUT");
                    input.type = "hidden";
                    input.name = decodeURIComponent(key);
                    input.value = decodeURIComponent(value);
                    form.appendChild(input);
                });
                return "";
            });
            form.submit();
        }

        function AddItem() {

            //url_redirect({
            //    url: "http://localhost:49921/StoreInventory/AddNewItem",
            //    method: "post"
            //});

            postURL("http://localhost:49921/StoreInventory/AddNewItem", "false");




            //var stockAdjustment = {};
            //stockAdjustment.Item = $('#txt-Item').val();
            //stockAdjustment.Option = $("select#option").val().toUpperCase()[0] + $("select#option").val().substring(1);
            //stockAdjustment.Quantity = $('#txt-Quantity').val();
            //stockAdjustment.Reason = $('#txt-Reason').val();

            //table.row.add([
            //    stockAdjustment.Item,
            //    stockAdjustment.Option,
            //    stockAdjustment.Quantity,
            //    stockAdjustment.Reason
            //]).draw();

            //dialogDiv.dialog('close');
            //clearInputFields();

        }

        function clearInputFields() {
            $('#dialog-addItem-newStockAdj input[type="text"]').val('');
            $('#dialog-addItem-newStockAdj input[type="number"]').val('');
        }



    });

    $(function () {
        $("#dialog-submit-newStockAdj").dialog({
            autoOpen: false
        });
    });

    $('#btn-submit-newStockAdj').click(function () {

        //var stockAdjustmentHeader = {};
        //stockAdjustmentHeader.RequestId = 4;
        //stockAdjustmentHeader.DateRequested = new Date($.now());
        //stockAdjustmentHeader.Requestor = "E1";
        //stockAdjustmentHeader.Approver = "E2";
        //stockAdjustmentHeader.DateProcessed = new Date($.now());
        //stockAdjustmentHeader.Status = "Pending";
        //stockAdjustmentHeader.TransactionType = "Stock Adjustment";

        //alert(JSON.stringify(stockAdjustmentHeader));

        //$.ajax({
        //    url: 'http://localhost:49921/WCFService.svc/CreateStockAdjustmentList',
        //    type: 'POST',
        //    data: '{ stockAdjustmentHeader:' + JSON.stringify(stockAdjustmentHeader) + '}',
        //    contentType: 'application/json; charset=utf-8',
        //    dataType: 'json',
        //    success: function () {

        //    }
        //});

        $('#dialog-submit-newStockAdj').dialog('open');


        //return false;
    });

    $(function () {
        $("#dialog-addItem-newStockAdj").dialog({
            autoOpen: false
        });
    });

    $('#btn-addItem-newStockAdj').click(function () {
        $('#dialog-addItem-newStockAdj').dialog('open');
        //return false;
    });
</script>

<div>
    <h2>Inventory - New Stock Adjustment</h2>
</div>

@*@using (Html.BeginForm("SubmitNewStockAdj", "StoreInventory", FormMethod.Post))*@

@using (Html.BeginForm("AddNewItem", "StoreInventory", FormMethod.Post))
{

    <table id="dataTable-storeInventoryNewAdj" class="display" style="width:80%;">
        <thead>
            <tr>
                <th>Item</th>
                <th>Missing/Damaged</th>
                <th>Quantity</th>
                <th>Delete</th>

            </tr>
        </thead>

        <tbody>
            @{
                //To make unique Id
                int i = 0;
                foreach (var item in Model.StockAdjustmentDetails.ToList())
                {

                    <tr>
                        <td>
                            @Html.TextBoxFor(o => o.StockAdjustmentDetails[i].ItemCode, new { @id = "ItemCode_" + i, @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.DropDownListFor(o => o.StockAdjustmentDetails[i].Remarks, new List<SelectListItem>
                       { new SelectListItem{Text="Damaged", Value="Damaged"},
                         new SelectListItem{Text="Missing", Value="Missing"}}, new { style = "padding: 1px; " })


                        </td>
                        <td>
                            @Html.EditorFor(o => o.StockAdjustmentDetails[i].ItemQuantity, new { @id = "ItemQuantity_" + i })
                        </td>
                        <td></td>

                    </tr>
                    i++;
                }
            }
        </tbody>

    </table>

    <div id="btns-grp-btm">

        @*<button class="btn-blue" id="btn-submit-newStockAdj">Submit for Approval</button>
        <div id="dialog-submit-newStockAdj" class="hidden" title="Submitted">
            <p>New Stock Adjustment request has been submitted for approval.</p>
        </div>*@


        <input class="btn-blue" type="submit" value="Submit for Approval" />

        

    </div>
}

<div id="btns-grp-btm">

    <button class="btn-blue" id="btn-addItem-newStockAdj">Add Item</button>
    <div id="dialog-addItem-newStockAdj" class="hidden" title="Add Item">


        @Html.Label("Item")
        <br />
        @Html.TextBox("txt-Item")       

        @*<table>
        <tr>
            <td>@Html.Label("Item")  </td>
        </tr>
        <tr>
            @Html.TextBox("txt-Item")
            @*<td><input type="text" id="txt-Item" /></td>*@
        @*</tr>
        <tr>
            <td>Missing/Damaged</td>
        </tr>
        <tr>
            <td>
                <select id="option">
                    <option value="missing">Missing</option>
                    <option value="damaged">Damaged</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Quantity</td>
        </tr>
        <tr>
            <td><input type="number" id="txt-Quantity" /></td>
        </tr>
        <tr>
            <td>Reason</td>
        </tr>
        <tr>
            <td><input type="text" id="txt-Reason" /></td>
        </tr>
        </table>*@


        @*<p>Add a new item via here.</p>
        <p>(Todo: on this btn click, add a new datatable row.)</p>*@

    </div>

</div>

<style>
    #btns-grp-btm {
        margin-right: 10vw;
    }
</style>
