@{
    Layout = null;
    List<StockAdjItemModel> list = (List<StockAdjItemModel>)Session["newAdjList"];
    //List<int> rowIndexes = (List<int>)TempData["RowIndexesToDiscard"];
}


@using SA46Team1_Web_ADProj.Models;
@model StockAdjItemModel

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;
    $(document).ready(function () {
       
        table = $('#dataTable-new-adj').DataTable({
            //scrollY: '30vh',
            "iDisplayLength": 5,
            scrollCollapse: true,
            ordering: false,
            paging: true,
            columnDefs: [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
        });
    });


    $(function () {
        $("#dialog-add-adj-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%",
            beforeClose: function () {
                $("#form-submit-add-new-adj").trigger("reset");
            },
        });
    });

    $('#btn-add-adj-item').on('click', function () {
        $('#dialog-add-adj-item').dialog('open');
    });

    $(function () {
        $("#dialog-new-adj-submited").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $(function () {
        $("#dialog-confirm-submit-new-adj").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#dataTable-new-adj tbody').on('click', '#btn-discard-new-adj', function () {
        var data = table.row($(this).parents('tr')).data();
        var index = table.row($(this).parents('tr')).index();

        $.ajax({
            url: '/StoreInventory/DiscardNewAdjItem',
            data: JSON.stringify({ data: data[0], index: index }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Inventory", "Store")';
    });

    $('#dataTable-new-adj tbody').on('change', '#input-adj-qty', function () {
        var data = table.row($(this).parents('tr')).data();
        var index = table.row($(this).parents('tr')).index();

        var qty = table.cell(index, 3).nodes().to$().find('input').val();
       
        $.ajax({
            url: '/StoreInventory/EditNewAdjQty',
            data: JSON.stringify({ data: qty, index: index }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Inventory", "Store")';
    });

    //form sub btn click
     $('#btn-submit-new-adj').on('click', function () {
        $('#dialog-confirm-submit-new-adj').dialog('open');
    });

    $('#btn-confirm-submit-cancel').on('click', function () {
        $('#dialog-confirm-submit-new-adj').dialog('close');
    });
   
    $('#btn-confirm-submit-submit').on('click', function () {
        $('#dialog-new-adj-submited').dialog('open');

        $.ajax({
            url: '/StoreInventory/SubmitNewAdj',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Inventory", "Store")';

    });

    $('#btn-back-stock-adj').on('click', function () {
        $.ajax({
            url: '/StoreInventory/BackToStockAdjList',
            type: 'POST',
        });

        window.location.href = '@Url.Action("Inventory", "Store")';

    });

</script>


<div class="row">
    <div class="col-md-6" style="padding: -30px;">
        <h5>Stock Adjustment</h5>
    </div>
    <div class="col-md-6">
        <div style="float: right; padding-top:35px;">
            <span>
                <button class="btn btn-lu-blue" id="btn-add-adj-item" style="font-size: 10pt;">Add</button>
            </span>
            <span>
                <button class="btn btn-lu-green" id="btn-submit-new-adj" style="font-size: 10pt;">Submit</button> 
            </span>
        </div>
    </div>
</div>

<br />

<div id="loading" style="font-family: 'Oxygen', sans-serif;">
    <table id="dataTable-new-adj" class="table-hover" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>Item Code</th>
                <th>Item Description</th>
                <th>Damaged/Missing</th>
                <th>Quantity</th>
                <th>Adjust Cost ($)</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var item in list)
        {
            <tr>
                <td style="font-size: 10pt;">@item.ItemCode</td>
                <td style="font-size: 10pt;">@item.ItemDesc</td>
                <td style="font-size: 10pt;">@item.Reason</td>
                <td>
                    <input id="input-adj-qty" style="font-size: 10pt;" value="@item.AdjQty" type="number" min="1" />
                </td>
                <td>
                    <input id="input-adj-cost" style="font-size: 10pt;" value="@item.AdjCost.ToString("0.00")" readonly />
                </td>
                <td>
                    <span>
                        <button class="btn btn-lu-red" id="btn-discard-new-adj">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </span>
                </td>
            </tr>
        }
        <tbody style="font-size: 10pt;"></tbody>
    </table>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div style="float: right;">
                <span>
                    <button class="btn btn-lu-blue" id="btn-back-stock-adj" style="font-size: 10pt;">Back</button>
                </span>
            </div>
        </div>
    </div>

    <div id="dialog-add-adj-item" class="hidden" title="Add Item (New Adjustment)">
        @using (Html.BeginForm("AddNewAdjItem", "StoreInventory", FormMethod.Post, new { id = "form-submit-add-new-adj" }))
        {
            <div>
                <div>
                    <label>Item Description: </label>
                    @Html.DropDownList("SelectItemDesc", ViewBag.ItemsList as SelectList)
                </div>

                <div>
                    <label>Adjustment Qty: </label>
                    @Html.EditorFor(model => model.AdjQty, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adjustment Quantity", @id = "new-item-adj-qty", @min = "1", @step = "1", @Value = "1" }, })
                </div>

                <br />

                <div>
                    <label>Reason: </label>
                    @Html.DropDownList("SelectAdjReason", ViewBag.AdjustmentReasons as SelectList)
                </div>

                <hr />

                <div>
                    <input id="btn-submit-add-adj-item" class="btn btn-lu-green btn-block" type="submit" value="Add" />
                </div>
            </div>
        }
    </div>


    <div id="dialog-confirm-submit-new-adj" class="hidden" title="Confirm Submission (New Adjustment)">
        <h6>Are you sure you want to submit the adjustment?</h6>
        <div>
            <span>
                <button class="btn btn-lu-red" id="btn-confirm-submit-cancel">Cancel</button>
            </span>

            <span>
                <button class="btn btn-lu-green" id="btn-confirm-submit-submit">Submit</button>
            </span>
        </div>
    </div>

    <div id="dialog-new-adj-submited" class="hidden" title="New Adjustment submitted">
        <h5>New adjustment request has been submitted for approval.</h5>
    </div>

</div>
