<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dept</title>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/sidebar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/fonts/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <script>
        $(function () {
            $("#menu").menu();
        });
    </script>

</head>
<body>

    <div class="sidenav" id="sideBar5" style="font-family: 'Oxygen', sans-serif;">
        <div style="background-color: #818181;">
            <div style="color: #2b2b2b; padding-left: 10px;">
                <h3>Logic University</h3>
            </div>
        </div>
        @Html.ActionLink("Home", "Home", "Dept")
        @Html.ActionLink("Requisition", "Requisition", "Dept")
        @Html.ActionLink("Requisition History", "RequisitionHistory", "Dept")
        @Html.ActionLink("Approval", "Approval", "Dept")
        @Html.ActionLink("Authorisation", "Authorisation", "Dept")
    </div>

    <div class="main">

        <div class="container" style="font-family: 'Oxygen', sans-serif;">
            <div style="float: right; padding-top:10px;">
                <span><i class="fas fa-bell" style="font-size:20px;"></i></span>
                <span>
                    @Html.ActionLink("Logout", "Login", "Main", null, new { @class = "btn btn-primary" })
                </span>
            </div>
        </div>

        <br />
        <br />
        <hr />

        <div class="container-fluid" style="align-content:center;">
            @RenderBody()
        </div>

    </div>

    @*<div class="footer">
            <p>&copy; 2018 - SA46_ADProject</p>
        </div>*@

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $("#sideBar5").show(1000);
        });
    </script>

</body>
</html>
