<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dept</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/sidebar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/fonts/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tabs.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="@Url.Content("~/Content/buttons.css")" rel="stylesheet" type="text/css" />

    <script>
        $(function () {
            $("#menu").menu();
        });
    </script>

</head>
<body>
    <div class="sidenav" style="font-family: 'Oxygen', sans-serif;">
        <div class="pic">
            <img src="~/Content/images/logic1.png" />
        </div>

        <div style="background-color: #1b1b1b;">
            <div style="color: #A9A9A9; padding-left: 10px; padding-top: 45px;">
                <h3>Logic University</h3>
            </div>
        </div>

        @if (User.IsInRole("Employee"))
        {
            <div class="item1">@Html.ActionLink("Home", "Home", "Dept")</div>
            <div class="item2">@Html.ActionLink("Requisition", "Requisition", "Dept")</div>
            <div class="item3">@Html.ActionLink("Requisition History", "RequisitionHistory", "Dept")</div>
        }
        else if (User.IsInRole("Employee Representative"))
        {
            <div class="item1">@Html.ActionLink("Home", "Home", "Dept")</div>
            <div class="item2">@Html.ActionLink("Requisition", "Requisition", "Dept")</div>
            <div class="item3">@Html.ActionLink("Requisition History", "RequisitionHistory", "Dept")</div>
        }
        else if (User.IsInRole("Department Head"))
        {
            <div class="item1">@Html.ActionLink("Home", "Home", "Dept")</div>
            <div class="item2">@Html.ActionLink("Approval", "Approval", "Dept")</div>
            <div class="item3">@Html.ActionLink("Authorisation", "Authorisation", "Dept")</div>
            <div class="item4">@Html.ActionLink("Report", "RequisitionHistory", "Dept")</div>
        }

        <div class="foot">
            <h6>&nbsp;&nbsp; &copy; 2018 - SA46_ADProject </h6>
        </div>
    </div>

    <div class="main">
        <div class="container"s style="font-family: 'Oxygen', sans-serif; padding-bottom: 10px;">
            <div style="float: right; padding-top:10px;">
                <span>
                    <a href="@Url.Action("Notifications", "Dept")" class="icon-block">
                        <i class="fas fa-bell" style="font-size:28px; color:#F9BE4F;"></i>
                    </a>
                    <label>  @Session["NoUnreadRequests"] </label>
                </span>
                    <span>
                    @Html.ActionLink("Logout", "Logout", "Main", null, new { @class = "btn btn-lu-red", style = "font-size: 8pt;" })
                    </span>
                    </div>
                    </div>

        <br />
        <hr />

        <div class="container" style="align-content:center;">
            @RenderBody()
        </div>
    </div>

            @*<div class="footer">
                <p>&copy; 2018 - SA46_ADProject</p>
            </div>*@

                    @*<script>
                        $(function () {

                            var div = $('.sidenav');
                            var divItem1 = div.find('.item1');
                            var divItem2 = div.find('.item2');
                            var divItem3 = div.find('.item3');
                            var divItem4 = div.find('.item4');
                            var divItem5 = div.find('.item5');

                            divItem1.animate({ right: '-=100' }, 'fast');
                            divItem2.animate({ right: '-=100' }, 'fast').delay(100);
                            divItem3.animate({ right: '-=100' }, 'fast').delay(200);
                            divItem4.animate({ right: '-=100' }, 'fast').delay(300);
                            divItem5.animate({ right: '-=100' }, 'fast').delay(400);

                            divItem1.animate({ right: '+=100', opacity: '1' });
                            divItem2.animate({ right: '+=100', opacity: '1' });
                            divItem3.animate({ right: '+=100', opacity: '1' });
                            divItem4.animate({ right: '+=100', opacity: '1' });
                            divItem5.animate({ right: '+=100', opacity: '1' });

                        });
                    </script>*@
</body>
</html>
