<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Store</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/sidebar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/fonts/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tabs.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="@Url.Content("~/Content/buttons.css")" rel="stylesheet" type="text/css" />

    <script>
        $(function () {
            $("#menu").menu();
        });
    </script>
</head>

<body>
    <div id="parent_page">
        <div class="sidenav" style="font-family: 'Oxygen', sans-serif;  box-shadow: 5px 0px 19px #8888A8; ">
            <div class="pic">
                <img src="~/Content/images/logic1.png" />
            </div>

            <div style="background-color: #1b1b1b;">
                <div style="color: #A9A9A9; padding-left: 10px; padding-top: 45px;">
                    <h3>Logic University</h3>
                </div>
            </div>

            @if (User.IsInRole("Store Clerk"))
            {
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "active" : "")">@Html.ActionLink("Home", "Home", "Store")</div>
                <div>@Html.ActionLink("Inventory", "Inventory", "Store")</div>
                <div>@Html.ActionLink("Disbursements", "Disbursements", "Store")</div>
                <div>@Html.ActionLink("Purchase", "Purchase", "Store")</div>
                <div>@Html.ActionLink("Report", "Report", "Store")</div>
            }
            else if (User.IsInRole("Store Manager"))
            {
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "active" : "")">@Html.ActionLink("Home", "Home", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Inventory" ? "active" : "")">@Html.ActionLink("Inventory", "Inventory", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Disbursements" ? "active" : "")">@Html.ActionLink("Disbursements", "Disbursements", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Purchase" ? "active" : "")">@Html.ActionLink("Purchase", "Purchase", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Purchase" ? "active" : "")">@Html.ActionLink("Approval", "Approval", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Report" ? "active" : "")">@Html.ActionLink("Report", "Report", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Maintenance" ? "active" : "")">@Html.ActionLink("Maintenance", "Maintenance", "Store")</div>
            }
            else if (User.IsInRole("Store Supervisor"))
            {
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "active" : "")">@Html.ActionLink("Home", "Home", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Inventory" ? "active" : "")">@Html.ActionLink("Inventory", "Inventory", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Disbursements" ? "active" : "")">@Html.ActionLink("Disbursements", "Disbursements", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Purchase" ? "active" : "")">@Html.ActionLink("Purchase", "Purchase", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Purchase" ? "active" : "")">@Html.ActionLink("Approval", "Approval", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Report" ? "active" : "")">@Html.ActionLink("Report", "Report", "Store")</div>
                <div class="@(ViewContext.RouteData.Values["Action"].ToString() == "Maintenance" ? "active" : "")">@Html.ActionLink("Maintenance", "Maintenance", "Store")</div>
            }

            <div class="foot" style="text-align:center;">
                <p>&nbsp;&nbsp;&nbsp;&copy; 2018 - SA46_ADProject</p>
            </div>
        </div>

        <div class="main">
            <div class="container" style="font-family: 'Oxygen', sans-serif; padding-bottom: 10px;">
                <div style="float: left; padding-top:10px;">
                    <img src="~/Content/images/people.png" />
                    @Session["EmpName"]
                </div>
                <div style="float: right; padding-top:10px;">
                    <span>
                        <a href="@Url.Action("Notifications", "Store")" class="icon-block" id="notification-container">
                            <i class="fas fa-bell" style="font-size:28px; color:#808080;"></i>
                        </a>
                    </span>
                    <span>
                        <svg width="25" height="25" id="notification-label">
                            <circle cx="12.5" cy="12.5" r="10" fill="#FFDF00" />
                            <text x="50%" y="50%" text-anchor="middle" fill="white" font-size="10px" font-family="Arial" dy=".3em">
                                @Session["NoUnreadRequests"]
                            </text>
                        </svg>

                    </span>
                    <span>
                        @Html.ActionLink("Logout", "Logout", "Main", null, new { @class = "btn btn-lu-red", style = "font-size: 8pt;" })
                    </span>
                </div>
            </div>


            <br />
            <hr />

            <div class="container" style="align-content:center;">
                @RenderBody()
            </div>
        </div>

        @*<div class="footer">
                <p>&copy; 2018 - SA46_ADProject</p>
            </div>*@

        @*<script>
                $(function () {

                    var div = $('.sidenav');
                    var divItem1 = div.find('.item1');
                    var divItem2 = div.find('.item2');
                    var divItem3 = div.find('.item3');
                    var divItem4 = div.find('.item4');
                    var divItem5 = div.find('.item5');
                    var divItem6 = div.find('.item6');
                    var divItem7 = div.find('.item7');

                    divItem1.animate({ right: '-=100' }, 'fast');
                    divItem2.animate({ right: '-=100' }, 'fast').delay(100);
                    divItem3.animate({ right: '-=100' }, 'fast').delay(200);
                    divItem4.animate({ right: '-=100' }, 'fast').delay(300);
                    divItem5.animate({ right: '-=100' }, 'fast').delay(400);
                    divItem6.animate({ right: '-=100' }, 'fast').delay(500);
                    divItem7.animate({ right: '-=100' }, 'fast').delay(600);

                    divItem1.animate({ right: '+=100', opacity: '1' });
                    divItem2.animate({ right: '+=100', opacity: '1' });
                    divItem3.animate({ right: '+=100', opacity: '1' });
                    divItem4.animate({ right: '+=100', opacity: '1' });
                    divItem5.animate({ right: '+=100', opacity: '1' });
                    divItem6.animate({ right: '+=100', opacity: '1' });
                    divItem7.animate({ right: '+=100', opacity: '1' });

                });
            </script>*@
    </div>
</body>
</html>


<style>
    #notification-container {
        position: relative;
    }

    #notification-label {
        position: absolute;
        margin-left: -2vw;
        margin-top: 2vh;
    }

    #notification-label {
        z-index: 10;
    }
</style>