@{
    Layout = null;
}

@using SA46Team1_Web_ADProj.Models;
@model Tuple<StockRetrievalDetail, Item>

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        
        var disbursed = parseInt(@ViewBag.Disbursed);

        if (disbursed == 0) {
            $("#div-disbursed").hide();
        }

        if (disbursed == 1) {
            $("#btn-disburse-retrieval").hide();
        }


        if (disbursed == 0) {

            $.ajax({
                url: 'http://localhost:49921/api/Restful/GetStockRetrievalList/' + '@ViewBag.IdCount',
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    $('#dataTable-storeDisbursementRetrievalList').dataTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        "iDisplayLength": 5,
                        data: data,
                        responsive: true,
                        columns: [
                            { 'data': 'Bin' },
                            { 'data': 'Location' },
                            { 'data': 'Description' },
                            { 'data': 'QuantityRetrieved' },
                            { 'data': 'CollectionPointDescription' },
                            {
                                'data': null,
                                'render': function (data, type, row) {
                                    return '<button id="btn-adjust-quantity" onclick="myFunction(\'' + data["Id"] + '\', \'' + data["Description"] + '\')" data-toggle="modal" data-target="#dialog-adjust-retrieval">Adjust</button>';
                                }
                            },
                            {
                                'data': null,
                                'render': function (data, type, row) {

                                    if (data["Collected"] == 0) {
                                        return '<input id="selectall" onclick="myCollectedFunction(\'' + data["Bin"] + '\', \'' + data["CollectionPointDescription"] + '\')" type="checkbox"/>';
                                    } else {
                                        return '<input id="selectall" onclick="myCollectedFunction(\'' + data["Bin"] + '\', \'' + data["CollectionPointDescription"] + '\')" type="checkbox" checked/>';
                                    }
                                    
                                }
                            }
                        ],
                        columnDefs: [
                            { className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6] }                           
                        ],
                    });
                }
            });

        }

        $(function () {
            $("#dialog-disburse-retrieval").dialog({
                autoOpen: false,
                width: "40%",
                maxWidth: "40%"
            });
        });

        $(function () {
            $("#dialog-adjust-retrieval").dialog({
                autoOpen: false,
                width: "40%",
                maxWidth: "40%"
            });
        });
    });

    $(function () {
        $("#dialog-confirm-disburse-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-disburse-retrieval').on('click', function () {
        $('#dialog-confirm-disburse-item').dialog('open');
    });

    $('#btn-confirm-submit-cancel').on('click', function () {
        $('#dialog-confirm-submit-new-adj').dialog('close');
    });
   
    $('#btn-confirm-submit-submit').on('click', function () {
        $('#dialog-new-adj-submited').dialog('open');

        $.ajax({
            url: '/StoreDisbursements/DisburseItems',
            type: 'POST',
            async: false
        });

        table.draw(false);

        window.location.href = '@Url.Action("Disbursements", "Store")';

    });

    function myFunction(param1, param2) {
        $('#assign-stock-req-id').val(param1);
        $('#assign-item-description').val(param2);
        $('#dialog-adjust-retrieval').dialog('open');
        return false;
    }

    function myCollectedFunction(param1, param2) {

        //alert(param1 + param2);

        $.ajax({
            url: '/StoreDisbursements/UpdateItemCollection',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            data: JSON.stringify({ bin: param1, collectionPointDescription: param2})
        });

        window.location.href = '@Url.Action("Disbursements", "Store")';

        return false;
    }




</script>

<div>
    <h5>List of Retrievals</h5>
</div>


<table id="dataTable-storeDisbursementRetrievalList" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Bin</th>
            <th>Location</th>
            <th>Item Description</th>
            <th>Items to Retrieve</th>
            <th>Collection Point</th>
            <th>Damaged/Missing items</th>
            <th>Collected</th>
        </tr>
    </thead>

    <tbody style="font-size: 10pt;"></tbody>

</table>
<hr />
<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                <button class="btn btn-lu-blue" id="btn-disburse-retrieval" style="font-size: 10pt;">Disburse Items</button>
            </span>
        </div>
    </div>
</div>

<div id="div-disbursed">
    <p align="center" style="font-weight:bold; font-size:large;">
        All items have been disbursed
    </p>
</div>



<div id="dialog-adjust-retrieval" class="hidden" title="Adjust Item">

    @using (Html.BeginForm("AdjustItem", "StoreDisbursements", FormMethod.Post))
    {
    <div>
        <div>
            @Html.TextBoxFor(tuple => tuple.Item1.Id, new { @placeholder = "StoRId", @id = "assign-stock-req-id", @readonly = "readonly", style = "display: none;" })
        </div>
        <div>
            <label>Item Name: </label>
            @Html.TextBoxFor(tuple => tuple.Item2.Description, new { @placeholder = "StoRId", @id = "assign-item-description", @readonly = "readonly" })
        </div>

        <div>
            <label>Quantity to Adjust: </label>
            @Html.EditorFor(tuple => tuple.Item1.QuantityAdjusted, new { htmlAttributes = new { @class = "form-control", @placeholder = "QuantityAdjusted", @id = "assign-quantity-adjusted", @min = "1", @step = "1", @Value = "1" }, })
        </div>

        <hr />

        <div>
            <h5>Damaged/Missing</h5>

            @Html.DropDownListFor(tuple => tuple.Item1.Remarks, new List<SelectListItem>
                       { new SelectListItem{Text="Damaged", Value="Damaged"},
                         new SelectListItem{Text="Missing", Value="Missing"}}, new { style = "padding: 1px; " })

        </div>

        <hr />

        <input id="btn-submit-qty-adj-changes" class="btn btn-info btn-block" type="submit" value="Save" />

    </div>
    }
</div>


<div id="dialog-confirm-disburse-item" class="hidden" title="Confirm Item Disbursement?">
    <h6>Are you sure you want to disburse the item?</h6>
    <div>
        <span>
            <button class="btn btn-lu-red" id="btn-confirm-submit-cancel">Cancel</button>
        </span>

        <span>
            <button class="btn btn-lu-green" id="btn-confirm-submit-submit">Submit</button>
        </span>
    </div>
</div>
