@{
    Layout = null;
}

@using SA46Team1_Web_ADProj.Models;
@model Tuple<StockRetrievalDetail, Item>

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {

        //$("#div-disbursed").hide();
        //alert(disbursed);

        var disbursed = parseInt(@ViewBag.Disbursed);

        if (disbursed == 0) {
            $("#div-disbursed").hide();
        }

        var id = parseInt(@ViewBag.IdCount);
        var stoId = 'StoR-' + id;

        if (disbursed == 0) {

            $.ajax({
                url: 'http://localhost:49921/api/Restful/GetStockRetrievalList/' + stoId,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    $('#dataTable-storeDisbursementRetrievalList').dataTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        //scrollY: 200,
                        data: data,
                        responsive: true,
                        //"columnDefs": [{
                        //    "targets": -1,
                        //    "data": null,
                        //    "defaultContent": "<button>Adjust</button>"
                        //}],
                        columns: [
                            { 'data': 'Bin' },
                            { 'data': 'Location' },
                            { 'data': 'Description' },
                            { 'data': 'QuantityRetrieved' },
                            { 'data': 'CollectionPointDescription' },
                            {
                                //'data': ''
                                'data': null,
                                'render': function (data, type, row) {
                                    //return "<button>Adjust</button>"
                                    return '<button id="btn-adjust-quantity" onclick="myFunction(\'' + data["Id"] + '\', \'' + data["Description"] + '\')" data-toggle="modal" data-target="#dialog-adjust-retrieval">Adjust</button>';
                                    //return '<button id="btn-adjust-quantity" onclick="myFunction(\'' + data["Description"] + '\', \'' + data["Id"] + '\')" data-toggle="modal" data-target="#dialog-adjust-retrieval">Adjust</button>';
                                }

                            }
                        ]
                    });
                }
            });

        }

        $(function () {
            $("#dialog-disburse-retrieval").dialog({
                autoOpen: false,
                width: "40%",
                maxWidth: "40%"
            });
        });

        $(function () {
            $("#dialog-adjust-retrieval").dialog({
                autoOpen: false,
                width: "40%",
                maxWidth: "40%"
            });
        });
    });

    function myFunction(param1, param2) {
        $('#assign-stock-req-id').val(param1);
        $('#assign-item-description').val(param2);
        $('#dialog-adjust-retrieval').dialog('open');
        return false;
    }

    //$('#btn-disburse-retrieval').click(function () {
    //    $('#dialog-disburse-retrieval').dialog('open');
    //    return false;
    //});

</script>

<div>
    <h5>List of Retrievals</h5>
</div>


<table id="dataTable-storeDisbursementRetrievalList" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Bin</th>
            <th>Location</th>
            <th>Item Description</th>
            <th>Items to Retrieve</th>
            <th>Collection Point</th>
            <th>Damaged/Missing items</th>
        </tr>
    </thead>

    <tbody style="font-size: 10pt;"></tbody>

</table>
<hr />
<div class="row">
    <div class="col-md-11">
        <div style="float: right">
            <span>
                @using (Html.BeginForm("DisburseItems", "StoreDisbursements", FormMethod.Post))
                {
                    <button class="btn btn-lu-blue" id="btn-disburse-retrieval" style="font-size: 10pt;">Disburse Items</button>
                }
            </span>
        </div>
    </div>
    <div class="col-md-1">
        <span>
            <button class="btn btn-lu-blue" style="font-size: 10pt;">@Html.ActionLink("Print List", "Home", "Store")</button>
        </span>
    </div>
</div>

<div id="div-disbursed">
    <p align="center" style="font-weight:bold; font-size:large;">
        All items have been disbursed
    </p>
</div>



<div id="dialog-adjust-retrieval" class="hidden" title="Adjust Item">

    @using (Html.BeginForm("AdjustItem", "StoreDisbursements", FormMethod.Post))
    {
    <div>
        <div>
            @*<label>Stock Requisition Id: </label>*@

            @Html.TextBoxFor(tuple => tuple.Item1.Id, new { @placeholder = "StoRId", @id = "assign-stock-req-id", @readonly = "readonly", style = "display: none;" })

        </div>
        <div>
            <label>Item Name: </label>
            @Html.TextBoxFor(tuple => tuple.Item2.Description, new { @placeholder = "StoRId", @id = "assign-item-description", @readonly = "readonly" })

        </div>

        <div>
            <label>Quantity to Adjust: </label>
            @Html.EditorFor(tuple => tuple.Item1.QuantityAdjusted, new { htmlAttributes = new { @class = "form-control", @placeholder = "QuantityAdjusted", @id = "assign-quantity-adjusted", @min = "1", @step = "1", @Value = "1" }, })
        </div>

        <hr />

        <div>
            <h5>Damaged/Missing</h5>

            @Html.DropDownListFor(tuple => tuple.Item1.Remarks, new List<SelectListItem>
                       { new SelectListItem{Text="Damaged", Value="Damaged"},
                         new SelectListItem{Text="Missing", Value="Missing"}}, new { style = "padding: 1px; " })

        </div>

        <hr />

        <input id="btn-submit-qty-adj-changes" class="btn btn-info btn-block" type="submit" value="Save" />

    </div>
    }




</div>