@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

@model SA46Team1_Web_ADProj.Models.UserModel

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<div class="login-clean">
    <form class="centered" method="post">

        <div>
            <h2 class="sr-only">Login Form</h2>
        </div>

        <div class="illustration"><img src="~/Content/images/logic1.png" /></div>

        <div class="form-group">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" }, })
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" }, })
            @Html.ValidationMessageFor(model => model.Password)
            @if (ViewBag.IsValid != null && !ViewBag.IsValid)
            {
                <label id="lbl-wrong-pw">Incorrect username or password was entered.</label>
            }
        </div>

        <div class="form-group">
            <button class="btn btn-lu-green btn-block" type="submit">Log In</button>
        </div>

        <hr />

        <div style="text-align:center;">
            <h6>&nbsp;&nbsp; &copy; 2018 - SA46_ADProject </h6>
        </div>
        
        @*<a href="#" class="forgot">Forgot your email or password? Click here.</a>*@
    </form>
</div>
