@{
    Layout = null;
    List<StaffRequisitionDetail> list = (List<StaffRequisitionDetail>)Session["newReqList"];
    List<int> rowIndexes = (List<int>) TempData["RowIndexesToDiscard"];
    bool editMode = (bool) Session["newReqEditMode"];
}


@using SA46Team1_Web_ADProj.Models;
@model Tuple<Item, StaffRequisitionDetail>

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;
    $(document).ready(function () {
        if (@editMode.ToString().ToLower()== true) {
            $("#btn-save-items").show();
            $("#btn-edit-items").hide();
        } else {
            $("#btn-save-items").hide();
            $("#btn-edit-items").show();
        }

        table = $('#dataTable-newReq').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            ordering: false,
            paging: true
        });
    });
    

    $('#dataTable-newReq tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });

    $(function () {
        $("#dialog-add-req-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%",
            beforeClose: function () {
                $("#form-submit-add-new-item").trigger("reset");
            },
        });
    });

    $(function () {
        $("#dialog-new-req-submited").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });
    
    $(function () {
        $("#dialog-confirm-submit-new-req").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-add-item').on('click', function () {
        $('#dialog-add-req-item').dialog('open');
    });

    $('#btn-submit-new-req').on('click', function () {
        $('#dialog-confirm-submit-new-req').dialog('open');
    });

    $('#btn-confirm-submit-cancel').on('click', function () {
        $('#dialog-confirm-submit-new-req').dialog('close');
    });

    $('#btn-submit-add-item').on('click', function () {
        $.ajax({
            url: '/DeptRequisition/AddReqItem',
            type: 'POST',
        });
    });

    $('#btn-confirm-submit-submit').on('click', function () {
        $('#dialog-new-req-submited').dialog('open');

        $.ajax({
            url: '/DeptRequisition/SubmitNewRequestForm',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Requisition", "Dept")';

    });

    $('#btn-discard-items').on('click', function () {
        var data = table.rows('.selected').indexes();
        var noSelected = table.rows('.selected').data().length;
        var toDeleteArray = [];

        for (i = 0; i < noSelected; i++){
             toDeleteArray.push(data[i]);
        }

        $.ajax({
            url: '/DeptRequisition/DiscardNewItems',
            data: JSON.stringify(toDeleteArray),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Requisition", "Dept")';

    });

    $('#btn-edit-items').on('click', function () {

        //toggle save/edit btn visibility
        $("#btn-save-items").show();
        $("#btn-edit-items").hide();

        $.ajax({
            url: '/DeptRequisition/EditNewOrderQty',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Requisition", "Dept")';

    });

    $('#btn-save-items').on('click', function () {
        var data = table.column(2).data();
        var dataToSend = "";
        var arr = [];
        var arr1 = []
        for (var i = 0; i < table.rows().data().length; i++) {
            dataToSend = table.rows(i).data();
            arr1.push(table.cell(i, 2).nodes().to$().find('input').val());
            arr.push(dataToSend[0]);
        }
        
        //toggle save/edit btn visibility
        $("#btn-save-items").hide();
        $("#btn-edit-items").show();

        $.ajax({
            url: '/DeptRequisition/ExitEditNewOrderQty',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arr: arr, arr1: arr1 }),
            success: function () {

                alert('success');
            }
        });

        table.draw(false);

        window.location.href = '@Url.Action("Requisition", "Dept")';

    });
</script>

    <div class="row">
        <div class="col-md-6" style="padding: -30px;">
            <h2>New Requisition</h2>
        </div>
        <div class="col-md-6">
            <span style="float: right; padding-top:35px;">
                <button class="btn-blue" id="btn-edit-items">Edit</button>
                <button class="btn-blue" id="btn-save-items">Save</button>
                <button class="btn btn-danger" id="btn-discard-items">Discard</button>
            </span>
        </div>    
    </div>        

    <div id="loading" style="font-family: 'Oxygen', sans-serif;">
        <table id="dataTable-newReq" class="table-hover" style="width:80%;">
            <thead>
                <tr>
                    <th>Item Description</th>
                    <th>Unit of Measure</th>
                    <th>New Order Qty</th>
                </tr>
            </thead>
            @foreach (var item in list)
            {
                <tr>
                    <td>@item.Item.Description</td>
                    <td>@item.Item.UoM</td>
                    <td>
                        @if (editMode == true)
                        {
                            <input id="input-edit-order-qty" value=@item.QuantityOrdered />
                        }
                        else
                        {
                            @item.QuantityOrdered
                        }
                    </td>
                </tr>
            }
            <tbody></tbody>
        </table>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <div style="float: right">
                    <span>
                        <button class="btn btn-primary" id="btn-add-item">Add New Item</button>
                    </span>
                    <span>
                        <button class="btn btn-info" id="btn-submit-new-req">Submit for Approval</button>
                    </span>
                </div>
            </div>
        </div>

        <div id="dialog-add-req-item" class="hidden" title="Add Item (New Requisition)">
            @using (Html.BeginForm("AddNewReqItem", "DeptRequisition", FormMethod.Post, new { id = "form-submit-add-new-item" }))
            {
                <div>
                    <div>
                        <label>Item Description: </label>
                        @Html.DropDownList("SelectItemDesc", ViewBag.ItemsList as SelectList)
                    </div>

                    <div>
                        <label>New Order Qty: </label>
                        @Html.EditorFor(tuple => tuple.Item2.QuantityOrdered, new { htmlAttributes = new { @class = "form-control", @placeholder = "QuantityOrdered", @id = "new-item-order-qty", @min = "1", @step = "1", @Value = "1" }, })
                    </div>

                    <br />

                    <div>
                        <input id="btn-submit-add-item" class="btn btn-info btn-block" type="submit" value="Add" />
                    </div>
                </div>
            }
        </div>

        <div id="dialog-confirm-submit-new-req" class="hidden" title="Confirm Submission (New Requisition)">
            <p>Are you sure you want to submit the requisition?</p>
            <span>
                <button class="btn btn-primary" id="btn-confirm-submit-cancel">Cancel</button>
            </span>

            <span>
                <button class="btn btn-primary" id="btn-confirm-submit-submit">Submit</button>
            </span>
        </div>

        <div id="dialog-new-req-submited" class="hidden" title="New Request submitted">
            <p>New requisition request has been submitted for approval.</p>
        </div>
    </div>

<style>
    #btn-edit-items,
    #btn-save-items {
        margin-left:-10vw;
    }

    #btn-discard-items {
        margin-left: -12vw;
    }
</style>