@{
    Layout = null;
    List<StaffRequisitionDetail> list = (List<StaffRequisitionDetail>)Session["newReqList"];
    List<int> rowIndexes = (List<int>)TempData["RowIndexesToDiscard"];
    bool editMode = (bool)Session["newReqEditMode"];
    }


    @using SA46Team1_Web_ADProj.Models;
    @model Tuple<Item, StaffRequisitionDetail>

    <link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

    <script>
    var table;
    $(document).ready(function () {
        if (@editMode.ToString().ToLower()== true) {
            $("#btn-save-items").show();
            $("#btn-edit-items").hide();
        } else {
            $("#btn-save-items").hide();
            $("#btn-edit-items").show();
        }

        table = $('#dataTable-newReq').DataTable({
            //scrollY: '30vh',
            "iDisplayLength": 5,
            scrollCollapse: true,
            ordering: false,
            paging: true
        });
    });

    $('#dataTable-newReq tbody').on('click', '#btn-discard-items', function () {
        var data = table.row($(this).parents('tr')).data();
        var index = table.row($(this).parents('tr')).index();

        alert(data[0]);
        $.ajax({
            url: '/DeptRequisition/DiscardNewItems',
            data: JSON.stringify({ data: data[0], index: index }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Requisition", "Dept")';
    });

    //$('#dataTable-newReq tbody').on('click', 'tr', function () {
    //    $(this).toggleClass('selected');
    //});

    $(function () {
        $("#dialog-add-req-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%",
            beforeClose: function () {
                $("#form-submit-add-new-item").trigger("reset");
            },
        });
    });

    $(function () {
        $("#dialog-new-req-submited").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $(function () {
        $("#dialog-new-req-edit-no-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(function () {
        $("#dialog-confirm-submit-new-req").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-add-item').on('click', function () {
        $('#dialog-add-req-item').dialog('open');
    });

    $('#btn-submit-new-req').on('click', function () {
        $('#dialog-confirm-submit-new-req').dialog('open');
    });

    $('#btn-confirm-submit-cancel').on('click', function () {
        $('#dialog-confirm-submit-new-req').dialog('close');
    });

    $('#btn-submit-add-item').on('click', function () {
        $.ajax({
            url: '/DeptRequisition/AddReqItem',
            type: 'POST',
        });
    });

    $('#btn-confirm-submit-submit').on('click', function () {
        $('#dialog-new-req-submited').dialog('open');

        $.ajax({
            url: '/DeptRequisition/SubmitNewRequestForm',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Requisition", "Dept")';

    });
        
    $('#btn-edit-items').on('click', function () {

        if (@list.Count()== 0) {
            //no item to edit
            $('#dialog-new-req-edit-no-item').dialog('open');
            return;
        }
        //toggle save/edit btn visibility
        $("#btn-save-items").show();
        $("#btn-edit-items").hide();

        $.ajax({
            url: '/DeptRequisition/EditNewOrderQty',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Requisition", "Dept")';

    });

    $('#btn-save-items').on('click', function () {
        var data = table.column(2).data();
        var dataToSend = "";
        var arr = [];
        var arr1 = []
        for (var i = 0; i < table.rows().data().length; i++) {
            dataToSend = table.rows(i).data();
            arr1.push(table.cell(i, 2).nodes().to$().find('input').val());
            arr.push(dataToSend[0]);
        }

        //toggle save/edit btn visibility
        $("#btn-save-items").hide();
        $("#btn-edit-items").show();

        $.ajax({
            url: '/DeptRequisition/ExitEditNewOrderQty',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arr: arr, arr1: arr1 }),
            success: function () {

                alert('success');
            }
        });

        table.draw(false);

        window.location.href = '@Url.Action("Requisition", "Dept")';

     });

    $('#dataTable-newReq tbody').on('change', '#input-edit-order-qty', function () {
        var data = table.row($(this).parents('tr')).data();
        var index = table.row($(this).parents('tr')).index();

        var qty = table.cell(index, 2).nodes().to$().find('input').val();
        if (qty <= 0) {
            alert("Order quantity cannot be <1.");
            table.cell(index, 2).nodes().to$().find('input').val(1);
            return;
        } else if (qty % 1 != 0) {
            alert("Order quantity must be whole number.");
            table.cell(index, 2).nodes().to$().find('input').val(1);
            return;
        }
        
        table.draw(false);

        @*window.location.href = '@Url.Action("Purchase", "Store")';*@
    });
    </script>


<div class="row">
    <div class="col-md-6" style="padding: -30px;">
        <h5>New Requisition</h5>
    </div>
    <div class="col-md-6">
        <span style="float: right; padding-top:35px;">
            <span>
                <button class="btn btn-lu-blue" id="btn-add-item" style="font-size: 10pt;">Add</button>
            </span>
            <span>
                <button class="btn btn-lu-blue" id="btn-edit-items" style="font-size: 10pt;">Edit</button>
                <button class="btn btn-lu-green" id="btn-save-items" style="font-size: 10pt;">Save</button>
            </span>
        </div>
    </div>

    <br />

    <div id="loading" style="font-family: 'Oxygen', sans-serif;">
        <table id="dataTable-newReq" class="table-hover" style="width:80%;">
            <thead style="font-size: 10pt;">
                <tr>
                    <th>Item Description</th>
                    <th>Unit of Measure</th>
                    <th>New Order Qty</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in list)
            {
                <tr>
                    <td style="font-size: 10pt;">@item.Item.Description</td>
                    <td style="font-size: 10pt;">@item.Item.UoM</td>
                    <td style="font-size: 10pt;">
                        @if (editMode == true)
                        {
                            @*@Html.EditorFor(model => model. , new { htmlAttributes = new { @class = "form-control", @placeholder = "Adjustment Quantity", @id = "input-edit-order-qty", @min = "1", @step = "1", @Value = "1" }, })*@
                            <input id="input-edit-order-qty" value=@item.QuantityOrdered type="number" step="1" min="1" pattern="[0-9]"/>
                        }
                        else
                        {
                            @item.QuantityOrdered
                        }
                    </td>
                    <td>
                        <span>
                            <button class="btn btn-lu-red" id="btn-discard-items" style="font-size: 10pt;">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            }
            <tbody style="font-size: 10pt;"></tbody>
        </table>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div style="float: right">
                    <span>
                        <button class="btn btn-lu-red" id="btn-cancel" style="font-size: 10pt;">Cancel</button>
                    </span>
                    <span>
                        <button class="btn btn-lu-green" id="btn-submit-new-req" style="font-size: 10pt;">Submit</button>
                    </span>
                </div>

            </div>
        </div>



        <div id="dialog-add-req-item" class="hidden" title="Add Item (New Requisition)">
            @using (Html.BeginForm("AddNewReqItem", "DeptRequisition", FormMethod.Post, new { id = "form-submit-add-new-item" }))
            {
                <div>
                    <div>
                        <label>Item Description: </label>
                        @Html.DropDownList("SelectItemDesc", ViewBag.ItemsList as SelectList)
                    </div>

                    <div>
                        <label>New Order Qty: </label>
                        @Html.EditorFor(tuple => tuple.Item2.QuantityOrdered, new { htmlAttributes = new { @class = "form-control", @placeholder = "QuantityOrdered", @id = "new-item-order-qty", @min = "1", @step = "1", @Value = "1" }, })
                    </div>

                    <br />

                    <div>
                        <input id="btn-submit-add-item" class="btn btn-lu-green btn-block" type="submit" value="Add" />
                    </div>
                </div>
            }
        </div>

        <div id="dialog-confirm-submit-new-req" class="hidden" title="Confirm Submission (New Requisition)">
            <h5>Are you sure you want to submit the requisition?</h5>
            <div class="row">
                <div class="col-md-6">
                    <div style="float:right">
                        <span>
                            <button class="btn btn-lu-red" id="btn-confirm-submit-cancel">Cancel</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <span>
                        <button class="btn btn-lu-green" id="btn-confirm-submit-submit">Submit</button>
                    </span>
                </div>   
            </div>           
        </div>

        <div id="dialog-new-req-submited" class="hidden" title="New Request submitted">
            <h5>New requisition request has been submitted for approval.</h5>
        </div>

        <div id="dialog-new-req-edit-no-item" class="hidden" title="No Item to edit">
            <h5>There are no items to edit.</h5>
        </div>

    </div>
