@using SA46Team1_Web_ADProj.Models;
@model Tuple<Item, PODetail>
@{
    Layout = null;
    List<PODetail> poDetailList = (List<PODetail>)Session["newPOList"];
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;
    // Load Datatable
    $(document).ready(function () {
        table = $('#dataTable-newPO').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            paging: true,
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button>Delete</button>"
            }]
        });
    });

    // Remove row
    $('#dataTable-newPO tbody').on('click', 'button', function () {
        var data = table.row($(this).closest('tr')).data();
        $.ajax({
            url: '/StorePurchase/DeletePOItem',
            type: 'POST',
            data: JSON.stringify(data[0])
        });

        table.row($(this).parents('tr')).remove().draw();
    });

    // Open Dialog
    $('#btn-add-item').on('click', function () {
        $('#dialog-add-po-item').dialog('open');
    });

    // Dialog
    $(function () {
        $("#dialog-add-po-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    // Submit
    $('#btn-submit-new-req').on('click', function () {
        var dataToSend = "";
        var arrQty = [];
        var arrSupplier = [];
        for (var i = 0; i < table.rows().data().length; i++) {
            arrQty.push(table.cell(i, 3).nodes().to$().find('input').val());
            arrSupplier.push(table.cell(i, 2).nodes().to$().find('select').val());
        }

        $.ajax({
            url: '/StorePurchase/SavePO',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arrQty: arrQty, arrSupplier: arrSupplier })
        });
        alert('Items Added');

        // This should reset table
        table.draw(false);

    });

</script>

<div>
    <h2>Create Purchase Order</h2>
</div>

<div class="create-PO-dates">
    <label>Date: @DateTime.Now</label>
</div>

<div>
    <p>Remarks: </p>
    <textarea rows="4" cols="50">
            </textarea>
</div>

@*--- Table ---*@

<table id="dataTable-newPO" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Supplier</th>
            <th>Qty</th>
            <th>Unit of Measure</th>
            <th>Unit Price ($)</th>
            <th>Total ($)</th>
            <th>GST ($)</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var item in poDetailList)
    {
        <tr>
            <td>@item.ItemCode</td>
            <td>@item.Item.Description</td>
            <td>
                <select>
                    <option value="@item.Item.Supplier1">@item.Item.Supplier1</option>
                    <option value="@item.Item.Supplier2">@item.Item.Supplier2</option>
                    <option value="@item.Item.Supplier3">@item.Item.Supplier3</option>
                </select>
            </td>
            <td><input id="input-qty" min="0" pattern="[0-9]" step="1" value="@item.QuantityOrdered" /></td>
            <td>@item.Item.UoM</td>
            <td>@item.Item.AvgUnitCost</td>
            <td><label id="lbl-totalitemprice"></label></td>
            <td>7%</td>
            <td></td>
        </tr>
    }
</table>

@*--- End of Table ---*@

@*--- Dynamic boxes ---*@
<div>
    <label>Gross Total ($): <input type="text" id="displayPO-gross-total" readonly="readonly"></label>
    <label>GST ($): <input type="text" id="displayPO-gst"></label>
    <label>Net Total ($): <input type="text" id="displayPO-net-total"></label>
</div>
@*--- End of Dynamic boxes ---*@

@*--- Buttons ---*@

<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                <button class="btn btn-primary" id="btn-add-item">Add New Item</button>
            </span>
            <span>
                <button class="btn btn-info" id="btn-submit-new-req">Submit for Approval</button>
            </span>
        </div>
    </div>
</div>

@*--- End of Buttons ---*@

@*--- Dialog Box ---*@

<div id="dialog-add-po-item" class="hidden" title="Add Item (Store PO)">
    @using (Html.BeginForm("AddPOItem", "StorePurchase", FormMethod.Post, new { id = "form-submit-add-new-item" }))
    {
        <div>
            <div>
                <label>Item Description: </label>
                @Html.DropDownList("SelectItemChose", ViewBag.ItemsList as SelectList)
            </div>
            <div>
                <label>New Order Qty: </label>
                @Html.EditorFor(tuple => tuple.Item2.QuantityOrdered, new { htmlAttributes = new { @class = "form-control", @placeholder = "QuantityOrdered", @id = "new-item-order-qty" }, })
            </div>

            <br />

            <div>
                <input id="btn-submit-add-item" class="btn btn-info btn-block" type="submit" value="Add" />
            </div>
        </div>
    }
</div>

@*--- End of Dialog Box ---*@

