@using SA46Team1_Web_ADProj.Models;
@model Tuple<Item, POFullDetail>
@{
    Layout = null;
    List<POFullDetail> poDetailList = (List<POFullDetail>)Session["newPOList"];
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;
    var count = 0;
    // Load Datatable
    $(document).ready(function () {
        table = $('#dataTable-newPO').DataTable({
            searching: false,
            scrollY: 200,
            "iDisplayLength": 5,
            scrollCollapse: false,
            columnDefs: [{
                //"targets": -1,
                //"data": null,
                "defaultContent": "<button>delete</button>",
                className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7, 8]
            }]
        });
    });

    // Remove row
    $('#dataTable-newPO tbody').on('click', 'button', function () {
        var data = table.row($(this).parents('tr')).data();

        $.ajax({
            url: '/StorePurchase/DeletePOItem',
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify({ data: data[0] })
        });

        //table.row($(this).parents('tr')).remove().draw();
        window.location.href = '@Url.Action("Purchase", "Store")';

        return false;
    });

    // Open Dialog
    $('#btn-add-item').on('click', function () {
        $('#dialog-add-po-item').dialog('open');
    });

    // Dialog
    $(function () {
        $("#dialog-add-po-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    // Submit
    $('#btn-submit-new-req').on('click', function () {
        var dataToSend = "";
        var arrQty = [];
        var arrSupplier = [];
        for (var i = 0; i < table.rows().data().length; i++) {
            arrQty.push(table.cell(i, 3).nodes().to$().find('input').val());
            arrSupplier.push(table.cell(i, 2).nodes().to$().find('select').val());
        }

        $.ajax({
            url: '/StorePurchase/SavePO',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arrQty: arrQty, arrSupplier: arrSupplier })
        });
        alert('Items Added');
        window.location.href = '@Url.Action("Purchase", "Store")';

        // This should reset table
        //table.draw(false);

    });

    $('#dataTable-newPO tbody').on('change', '#input-qty', function () {
        var data = table.row($(this).parents('tr')).data();
        var index = table.row($(this).parents('tr')).index();

        var qty = table.cell(index, 3).nodes().to$().find('input').val();
        if (qty <= 0) {
            alert("Order quantity cannot be <1.");
            table.cell(index, 3).nodes().to$().find('input').val(1);
            return;
        }
        $.ajax({
            url: '/StorePurchase/EditNewPOQty',
            data: JSON.stringify({ data: qty, index: index }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Purchase", "Store")';
    });

    $('#dataTable-newPO tbody').on('change', '#select-supplier', function () {
        var data = table.row($(this).parents('tr')).data();
        var index = table.row($(this).parents('tr')).index();

        var qty = table.cell(index, 2).nodes().to$().find(":selected").text();
       
        $.ajax({
            url: '/StorePurchase/EditNewPOSupplier',
            data: JSON.stringify({ data: qty, index: index }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        table.draw(false);

        window.location.href = '@Url.Action("Purchase", "Store")';
    });

</script>

<div class="row">
    <div class="col-md-6">
        <div>
            <h5>Create Purchase Order</h5>
        </div>
        <div class="create-PO-dates">
            <label style="font-size: 10pt;">Date: @DateTime.Now</label>
        </div>
    </div>
    <div class="col-md-6">
        <div style="float:right;">
            <div style="font-size: 10pt;">
                <p>Remarks: </p>
                <textarea rows="3" cols="50" />
            </div>
        </div>
    </div>
</div>

@*--- Table ---*@

<table id="dataTable-newPO" class="display" style="width:80%; font-family: 'Oxygen', sans-serif;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Supplier</th>
            <th>Qty</th>
            <th>Unit of Measure</th>
            <th>Unit Price ($)</th>
            <th>Total ($)</th>
            <th>GST ($)</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in poDetailList)
    {
        <tr>
            <td style="font-size: 10pt;">@item.ItemCode</td>
            <td style="font-size: 10pt;">@item.Description</td>
            <td style="font-size: 10pt;">
                <select id="select-supplier">
                    @if (item.Supplier1Code == item.CompanyName)
                    {
                        <option value="@item.Supplier1Code" selected="selected">@item.Supplier1Code</option>
                    }
                    else
                    {
                        <option value="@item.Supplier1Code">@item.Supplier1Code</option>
                    }

                    @if (item.Supplier2Code == item.CompanyName)
                    {
                        <option value="@item.Supplier2Code" selected="selected">@item.Supplier2Code</option>
                    }
                    else
                    {
                        <option value="@item.Supplier2Code">@item.Supplier2Code</option>
                    }
                    @if (item.Supplier3Code == item.CompanyName)
                    {
                        <option value="@item.Supplier3Code" selected="selected">@item.Supplier3Code</option>
                    }
                    else
                    {
                        <option value="@item.Supplier3Code">@item.Supplier3Code</option>
                    }
                </select>
            </td>
            <td><input id="input-qty" style="font-size: 10pt;" min="1" type="number" pattern="[0-9]" step="1" value="@item.QuantityOrdered" /></td>
            <td style="font-size: 10pt;">@item.UoM</td>
            <td style="font-size: 10pt;">@item.UnitCost.ToString("0.00")</td>
            <td style="font-size: 10pt;">@((item.UnitCost * item.QuantityOrdered).ToString("0.00"))</td>
            <td style="font-size: 10pt;">7%</td>
            <td style="font-size: 10pt;"></td>
        </tr>
    }
    <tbody style="font-size: 10pt;"></tbody>
</table>

@*--- End of Table ---*@

@*--- Dynamic boxes ---*@
<div>
    <label style="font-size: 12pt;">Gross Total ($):<input type="number" id="displayPO-gross-total" readonly="readonly" value="@TempData["grossTotal"]" style="font-size: 12pt;"></label>
    <label style="font-size: 12pt;">GST ($): <input type="text" id="displayPO-gst" value="@TempData["gst"]" style="font-size: 12pt;"></label>
    <label style="font-size: 12pt;">Net Total ($): <input type="number" id="displayPO-net-total"  readonly="readonly" value="@TempData["netTotal"]" style="font-size: 12pt;"></label>
</div>
@*--- End of Dynamic boxes ---*@

@*--- Buttons ---*@

<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                <button class="btn btn-lu-blue" id="btn-add-item" style="font-size: 10pt;">Add New Item</button>
            </span>
            <span>
                <button class="btn btn-lu-green" id="btn-submit-new-req" style="font-size: 10pt;">Submit</button>
            </span>
        </div>
    </div>
</div>

@*--- End of Buttons ---*@

@*--- Dialog Box ---*@

<div id="dialog-add-po-item" class="hidden" title="Add Item (Store PO)">
    @using (Html.BeginForm("AddPOItem", "StorePurchase", FormMethod.Post, new { id = "form-submit-add-new-item" }))
    {
        <div>
            <div>
                <label>Item Description: </label>
                @Html.DropDownList("SelectItemChose", ViewBag.ItemsList as SelectList)
            </div>
            <div>
                <label>New Order Qty: </label>
                @Html.EditorFor(tuple => tuple.Item2.QuantityOrdered, new { htmlAttributes = new { @class = "form-control", @placeholder = "QuantityOrdered", @id = "new-item-order-qty", @min = "1", @step = "1", @Value = "1" }, })
            </div>

            <br />

            <div>
                <input id="btn-submit-add-item" class="btn btn-info btn-block" type="submit" value="Add" />
            </div>
        </div>
    }
</div>

@*--- End of Dialog Box ---*@

