@using SA46Team1_Web_ADProj.Models;
@model POFullDetail

@{
    Layout = null;
    List<POFullDetail> poFullDetailList = (List<POFullDetail>)Session["POItems"];
    bool editMode = (bool)Session["poDetailsEditMode"];
    bool grEditMode = (bool)Session["grEditMode"];
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    @*if (@editMode.ToString().ToLower() == true) {
        $("btn-edit-displayPO").hide();
        $("btn-save-displayPO").show();
        $("#btn-cancel-displayPO").show();
        $("#btn-cancelPO").hide();
        $("#btn-edit-GR").hide();
        $("#btn-GR-displayPO").hide();
    }
    else if (@grEditMode.ToString().ToLower() == true) {
        $("btn-edit-displayPO").hide();
        $("btn-save-displayPO").hide();
        $("#btn-cancel-displayPO").show();
        $("#btn-cancelPO").hide();
        $("#btn-edit-GR").hide();
        $("#btn-GR-displayPO").show();
    }
    else {
        $("btn-edit-displayPO").show();
        $("btn-save-displayPO").hide();
        $("#btn-cancel-displayPO").hide();
        $("#btn-cancelPO").show();
        $("#btn-edit-GR").show();
        $("#btn-GR-displayPO").hide();
    }*@

    var table;
    $(document).ready(function () {
        table = $('#dataTable-displayPO').DataTable({
            //scrollY: '30vh',
            "iDisplayLength": 5,
            scrollCollapse: true,
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button>Delete</button>"
            }]
        });

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetPOFullDetails/' + $('#lbl-poNumber').text(),
            type: 'get',
            dataType: 'json',
            success: function (data) {
                // Parsing Date into readable format
                var date = new Date(data[0]["Date"]);
                var month = date.getMonth() + 1;
                var newDate = date.getDate() + "/" + month + "/" + date.getFullYear();

                var newDateRec;
                if (data[0]["ReceivedDate"] == null) {
                    newDateRec = "-";
                } else {
                    var dateRec = new Date(data[0]["ReceivedDate"]);
                    var monthRec = dateRec.getMonth() + 1;
                    newDateRec = dateRec.getDate() + "/" + monthRec + "/" + dateRec.getFullYear();
                }

                // Calculation of GST / Total PO price
                var i;
                var itemTotal = 0;
                var total = 0;
                for (i = 0; i < data.length; i++) {
                    itemTotal = data[0]["UnitCost"] * data[0]["QuantityOrdered"];
                    total = total + data[i]["UnitCost"] * data[i]["QuantityOrdered"];
                }
                var gst = total * 0.07;
                var netTotal = total + gst;

                // Displaying JSON onto labals
                $(function () {
                    $('#lbl-poNumber').val(data[0]["PONumber"]);
                    //$('#lbl-dateCreated').val(newDate);
                    //$('#lbl-del-date').val(newDateRec);
                    //$('#lbl-status').val(data[0]["Status"]);
                    //$('#displayPO-gross-total').val(twoDP(total));
                    //$('#lbl-supplier').val(data[0]["CompanyName"]);
                    //$('#displayPO-gst').val(twoDP(gst));
                    //$('#displayPO-net-total').val(twoDP(netTotal));
                    $('#ta-remarks').val(data[0]["Remarks"]);
                    $('#lbl-total').val(itemTotal);

                    $("#lbl-supplier").append(data[0]["CompanyName"]);
                    $("#lbl-dateCreated").append(newDate);
                    $("#lbl-del-date").append(newDateRec);
                    $("#lbl-status").append(data[0]["Status"]);
                    $("#displayPO-gross-total").append(twoDP(total));
                    $("#displayPO-net-total").append(twoDP(netTotal));
                    //$("#lbl-total").append(itemTotal);
                    $("#displayPO-gst").append(twoDP(gst));
                });


            }
        });
    });

    // Format into 2 DP
    function twoDP(value) {
        return parseFloat(Math.round(value * 100) / 100).toFixed(2);
    }

    // Save PO Dialog
    $(function () {
        $("#dialog-save-displayPO").dialog({
            autoOpen: false
        });
    });

    // Save PO Button
    $('#btn-save-displayPO').click(function () {
        //$('#dialog-save-displayPO').dialog('open');

        var arrQty = [];
        for (var i = 0; i < table.rows().data().length; i++) {
            arrQty.push(table.cell(i, 2).nodes().to$().find('input').val());
        }

        $.ajax({
            url: '/StorePurchase/SaveEdit',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arrQty: arrQty })
        });

        window.location.href = '@Url.Action("Purchase", "Store")';
        return false;
    });

    // Edit PO Dialog
    $(function () {
        $("#dialog-edit-displayPO").dialog({
            autoOpen: false
        });
    });

    // Edit PO Button
    $('#btn-edit-displayPO').click(function () {
        //$('#dialog-edit-displayPO').dialog('open');

        $.ajax({
            url: '/StorePurchase/EditMode',
            type: 'POST'
        });
        window.location.href = '@Url.Action("Purchase", "Store")';

        return false;
    });

    // Goods Receipt Dialog
    $(function () {
        $("#dialog-GR-displayPO").dialog({
            autoOpen: false
        });
    });

    // Goods Receipt Button
    $('#btn-GR-displayPO').click(function () {
        //$('#dialog-GR-displayPO').dialog('open');

        var arrQty = [];
        for (var i = 0; i < table.rows().data().length; i++) {
            arrQty.push(table.cell(i, 3).nodes().to$().find('input').val());
        }

        $.ajax({
            url: '/StorePurchase/GoodsReceipt',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arrQty: arrQty })
        });

        window.location.href = '@Url.Action("Purchase", "Store")';
        return false;
    });


    // Cancel PO Dialog
    $(function () {
        $("#dialog-cancelPO").dialog({
            autoOpen: false
        });
    });

    // Cancel PO Button
    $('#btn-cancelPO').click(function () {
        //$('#dialog-cancelPO').dialog('open');

        $.ajax({
            url: '/StorePurchase/CancelPO',
            type: 'POST'
        });
        alert('PO cancelled, sandy please help redirect page / refresh')
        window.location.href = '@Url.Action("Purchase", "Store")';
        return false;
    });

    // Cancel Edit Dialog
    $(function () {
        $("#dialog-cancel-displayPO").dialog({
            autoOpen: false
        });
    });

    // Cancel Edit Button
    $('#btn-cancel-displayPO').click(function () {
        //$('#dialog-cancel-displayPO').dialog('open');

        $.ajax({
            url: '/StorePurchase/ExitEditMode',
            type: 'POST'
        });
        window.location.href = '@Url.Action("Purchase", "Store")';
        return false;
    });

       // Edit GR Dialog
    $(function () {
        $("#dialog-edit-GR").dialog({
            autoOpen: false
        });
    });

    // Edit GR Button
    $('#btn-edit-GR').click(function () {
        //$('#dialog-edit-displayPO').dialog('open');

        $.ajax({
            url: '/StorePurchase/GREditMode',
            type: 'POST'
        });
        window.location.href = '@Url.Action("Purchase", "Store")';

        return false;
    });


</script>

<div class="row">
    <div class="col-md-6">
        <div>
            <h5>Display/Edit Purchase Order</h5>
        </div>
        <div>
            <label style="font-size: 10pt;">PO Number:&nbsp <label id="lbl-poNumber" style="font-size: 10pt;">@Session["poNumber"]</label></label>
        </div>
        <div>
            @*<label style="font-size: 10pt;">Supplier: <input type="text" id="lbl-supplier" readonly="readonly"></label>*@
            <label style="font-size: 10pt;">Supplier:&nbsp;</label><label id="lbl-supplier" style="font-size: 10pt;" />
        </div>
        <div>
            @*<label style="font-size: 10pt;">Date Created: <input type="text" id="lbl-dateCreated" readonly="readonly"></label>*@
            <label style="font-size: 10pt;">Date Created: &nbsp;</label><label id="lbl-dateCreated" style="font-size: 10pt;" />
        </div>
        <div>
            @*<label style="font-size: 10pt;">Delivery Date:<input type="text" id="lbl-del-date" readonly="readonly"></label>*@
            <label style="font-size: 10pt;">Delivery Date:&nbsp;</label><label id="lbl-del-date" style="font-size: 10pt;" />
        </div>
    </div>
    <div class="col-md-6">
        <div style="float: right;">
            <div>
                <p>Remarks:</p>
                <textarea id="ta-remarks" rows="3" cols="50"></textarea>
            </div>
        </div>
    </div>
</div>

<table id="dataTable-displayPO" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Quantity Ordered</th>
            <th>Quantity Delivered</th>
            <th>Unit of Measure</th>
            <th>Unit Price ($)</th>
            <th>Total ($)</th>
            <th>GST ($)</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in poFullDetailList)
    {
    <tr style="font-size: 10pt;">
        <th style="font-size: 10pt;">@item.ItemCode</th>
        <th style="font-size: 10pt;">@item.Description</th>
        <th style="font-size: 10pt;">
            @if (editMode == true)
            {
                <input type="number" value="@item.QuantityOrdered" />
            }
            else
            {
                @item.QuantityOrdered
            }

        </th>
        <th style="font-size: 10pt;">
            @if (grEditMode == true && (item.QuantityOrdered - item.QuantityDelivered) != 0)
            {
                <input type="number" value="@item.QuantityDelivered" />
            }
            else
            {
                @item.QuantityDelivered
            }
        </th>

        <th style="font-size: 10pt;">@item.UoM</th>
        <th style="font-size: 10pt;">@item.UnitCost</th>
        <th style="font-size: 10pt;"><label id="lbl-total"></label></th>
        <th style="font-size: 10pt;">7%</th>
        <th></th>
    </tr>
    }
</table>

<div>
    @*<label style="font-size: 10pt;">Gross Total ($): <input type="text" id="displayPO-gross-total" readonly="readonly"></label>*@
    <label style="font-size: 10pt;">Gross Total ($):&nbsp;</label><strong><label id="displayPO-gross-total" style="font-size: 10pt;" /></strong>
    @*<label style="font-size: 10pt;">GST ($): <input type="text" id="displayPO-gst"></label>*@
    <label style="font-size: 10pt;">&nbsp;GST ($):&nbsp;</label><strong><label id="displayPO-gst" style="font-size: 10pt;" /></strong>
    @*<label style="font-size: 10pt;">Net Total ($): <input type="text" id="displayPO-net-total"></label>*@
    <label style="font-size: 10pt;">&nbsp;Net Total ($):&nbsp;</label><strong><label id="displayPO-net-total" style="font-size: 10pt;" /></strong>
    @*<label style="font-size: 10pt;">PO Status: <input type="text" id="lbl-status" readonly="readonly"></label>*@
    <label style="font-size: 10pt;">&nbsp;PO Status:&nbsp;</label><strong><label id="lbl-status" style="font-size: 10pt;" /></strong>
</div>

@*--- Only can be seen if status = "Open" ---*@
<div class="row">
    <div class="col-md-11">
        <div style="float:right;">
            <button class="btn btn-lu-blue" id="btn-edit-displayPO" style="font-size: 10pt;">Edit</button>
            <div id="dialog-edit-displayPO" class="hidden" title="Basic dialog">
                <p>Should change color if Goods Receipt / status is completed</p>
            </div>

            <button class="btn btn-lu-green" id="btn-save-displayPO" style="font-size: 10pt;">Save</button>
            <div id="dialog-save-displayPO" class="hidden" title="Basic dialog">
                <p>Changes to PO - can only be seen / used if PO is 'open'</p>
            </div>

            <button class="btn btn-lu-red" id="btn-cancel-displayPO" style="font-size: 10pt;">Cancel</button>
            <div id="dialog-cancel-displayPO" class="hidden" title="Basic dialog">
                <p>Cancel Edit Mode of PO- can only be seen / used if PO is 'open'</p>
            </div>

            <button class="btn btn-lu-red" id="btn-cancelPO" style="font-size: 10pt;">Cancel PO</button>
            <div id="dialog-cancelPO" class="hidden" title="Basic dialog">
                <p>Cancel entire PO - can only be seen / used if PO is 'open'</p>
            </div>

            <button class="btn-blue" id="btn-edit-GR">Goods Receipt Edit</button>
            <div id="dialog-edit-GR" class="hidden" title="Basic dialog">
                <p>Prep GR</p>
            </div>


            <button class="btn btn-lu-blue" id="btn-GR-displayPO" style="font-size: 10pt;">Goods Receipt</button>
            <div id="dialog-GR-displayPO" class="hidden" title="Basic dialog">
                <p>Goods receipt btn.</p>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div id="details-back-btn">

            @using (Html.BeginForm("BackToPOList", "StorePurchase", FormMethod.Post))
            {
                <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;" />
            }
        </div>
    </div>
</div>
@*--------------------------------------------*@



@*<style>
    #btns-grp-btm {
        margin-right: 10vw;
    }
</style>*@