@using SA46Team1_Web_ADProj.Models;
@model POFullDetail

@{
    Layout = null;
    List<POFullDetail> poFullDetailList = (List<POFullDetail>)Session["POItems"];
    bool editMode = (bool)Session["poDetailsEditMode"];
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    var table;
    $(document).ready(function () {
        table = $('#dataTable-displayPO').DataTable({
            scrollY: '30vh',
            scrollCollapse: true,
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button>Delete</button>"
            }]
        });

        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetPOFullDetails/' + $('#lbl-poNumber').text(),
            type: 'get',
            dataType: 'json',
            success: function (data) {
                // Parsing Date into readable format
                var date = new Date(data[0]["Date"]);
                var month = date.getMonth() + 1;
                var newDate = date.getDate() + "/" + month + "/" + date.getFullYear();

                var newDateRec;
                if (data[0]["ReceivedDate"] == null) {
                    newDateRec = "-";
                } else {
                    var dateRec = new Date(data[0]["ReceivedDate"]);
                    var monthRec = dateRec.getMonth() + 1;
                    newDateRec = dateRec.getDate() + "/" + monthRec + "/" + dateRec.getFullYear();
                }

                // Calculation of GST / Total PO price
                var i;
                var itemTotal = 0;
                var total = 0;
                for (i = 0; i < data.length; i++) {
                    itemTotal = data[0]["UnitCost"] * data[0]["QuantityOrdered"];
                    total = total + data[i]["UnitCost"] * data[i]["QuantityOrdered"];
                }
                var gst = total * 0.07;
                var netTotal = total + gst;

                // Displaying JSON onto labals
                $(function () {
                    $('#lbl-poNumber').val(data[0]["PONumber"]);
                    $('#lbl-dateCreated').val(newDate);
                    $('#lbl-del-date').val(newDateRec);
                    $('#lbl-status').val(data[0]["Status"]);
                    $('#displayPO-gross-total').val(twoDP(total));
                    $('#lbl-supplier').val(data[0]["CompanyName"]);
                    $('#displayPO-gst').val(twoDP(gst));
                    $('#displayPO-net-total').val(twoDP(netTotal));
                    $('#ta-remarks').val(data[0]["Remarks"]);
                    $('#lbl-total').val(itemTotal);
                });


            }
        });
    });

    // Format into 2 DP
    function twoDP(value) {
        return parseFloat(Math.round(value * 100) / 100).toFixed(2);
    }

    // Save PO Dialog
    $(function () {
        $("#dialog-save-displayPO").dialog({
            autoOpen: false
        });
    });

    // Save PO Button
    $('#btn-save-displayPO').click(function () {
        //$('#dialog-save-displayPO').dialog('open');

        var arrQty = [];
        for (var i = 0; i < table.rows().data().length; i++) {
            arrQty.push(table.cell(i, 2).nodes().to$().find('input').val());
        }

        $.ajax({
            url: '/StorePurchase/SaveEdit',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arrQty: arrQty })
        });

        window.location.href = '@Url.Action("Purchase", "Store")';
        return false;
    });

    // Edit PO Dialog
    $(function () {
        $("#dialog-edit-displayPO").dialog({
            autoOpen: false
        });
    });

    // Edit PO Button
    $('#btn-edit-displayPO').click(function () {
        //$('#dialog-edit-displayPO').dialog('open');

        $.ajax({
            url: '/StorePurchase/EditMode',
            type: 'POST'
        });
        window.location.href = '@Url.Action("Purchase", "Store")';

        return false;
    });

    // Goods Receipt Dialog
    $(function () {
        $("#dialog-GR-displayPO").dialog({
            autoOpen: false
        });
    });

    // Goods Receipt Button
    $('#btn-GR-displayPO').click(function () {
        //$('#dialog-GR-displayPO').dialog('open');

        var arrQty = [];
        for (var i = 0; i < table.rows().data().length; i++) {
            arrQty.push(table.cell(i, 2).nodes().to$().find('input').val());
        }

        $.ajax({
            url: '/StorePurchase/GoodsReceipt',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arrQty: arrQty })
        });

        window.location.href = '@Url.Action("Purchase", "Store")';
        return false;
    });


    // Cancel PO Dialog
    $(function () {
        $("#dialog-cancelPO").dialog({
            autoOpen: false
        });
    });

    // Cancel PO Button
    $('#btn-cancelPO').click(function () {
        //$('#dialog-cancelPO').dialog('open');

        $.ajax({
            url: '/StorePurchase/CancelPO',
            type: 'POST'
        });
        alert('PO cancelled, sandy please help redirect page / refresh')
        window.location.href = '@Url.Action("Purchase", "Store")';
        return false;
    });

    // Cancel Edit Dialog
    $(function () {
        $("#dialog-cancel-displayPO").dialog({
            autoOpen: false
        });
    });

    // Cancel Edit Button
    $('#btn-cancel-displayPO').click(function () {
        //$('#dialog-cancel-displayPO').dialog('open');

        $.ajax({
            url: '/StorePurchase/ExitEditMode',
            type: 'POST'
        });
        window.location.href = '@Url.Action("Purchase", "Store")';
        return false;
    });

</script>

<div>
    <h2>Display/Edit Purchase Order</h2>
</div>

<div class="create-PO-dates">
    <label>PO Number:&nbsp <label id="lbl-poNumber">@Session["poNumber"]</label></label>
    <br />
    <label>Supplier: <input type="text" id="lbl-supplier" readonly="readonly"></label>
    <label>Date Created: <input type="text" id="lbl-dateCreated" readonly="readonly"></label>
    <label>Delivery Date:<input type="text" id="lbl-del-date" readonly="readonly"></label>
</div>

<div>
    <p>Remarks:</p>
    <textarea id="ta-remarks" rows="4" cols="50">
    </textarea>
</div>

<table id="dataTable-displayPO" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>Quantity Ordered</th>
            <th>Quantity Delivered</th>
            <th>Unit of Measure</th>
            <th>Unit Price ($)</th>
            <th>Total ($)</th>
            <th>GST ($)</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in poFullDetailList)
    {
        <tr>
            <th>@item.ItemCode</th>
            <th>@item.Description</th>
            <th>
                @if (editMode == true)
                {
                    <input type="number" value="@item.QuantityOrdered" />
                }
                else
                {
                    @item.QuantityOrdered
                }

            </th>
            <th>@item.QuantityDelivered</th>
            <th>@item.UoM</th>
            <th>@item.UnitCost</th>
            <th><label id="lbl-total"></label></th>
            <th>7%</th>
            <th></th>
        </tr>
    }
</table>

<div>
    <label>Gross Total ($): <input type="text" id="displayPO-gross-total" readonly="readonly"></label>
    <label>GST ($): <input type="text" id="displayPO-gst"></label>
    <label>Net Total ($): <input type="text" id="displayPO-net-total"></label>
    <label>PO Status: <input type="text" id="lbl-status" readonly="readonly"></label>
</div>

@*--- Only can be seen if status = "Open" ---*@
<div id="btns-grp-btm">
    <button class="btn-blue" id="btn-edit-displayPO">Edit</button>
    <div id="dialog-edit-displayPO" class="hidden" title="Basic dialog">
        <p>Should change color if Goods Receipt / status is completed</p>
    </div>

    <button class="btn-blue" id="btn-save-displayPO">Save</button>
    <div id="dialog-save-displayPO" class="hidden" title="Basic dialog">
        <p>Changes to PO - can only be seen / used if PO is 'open'</p>
    </div>

    <button class="btn-blue" id="btn-cancel-displayPO">Cancel</button>
    <div id="dialog-cancel-displayPO" class="hidden" title="Basic dialog">
        <p>Cancel Edit Mode of PO- can only be seen / used if PO is 'open'</p>
    </div>

    <button class="btn-blue" id="btn-cancelPO">Cancel PO</button>
    <div id="dialog-cancelPO" class="hidden" title="Basic dialog">
        <p>Cancel entire PO - can only be seen / used if PO is 'open'</p>
    </div>

    <button class="btn-blue" id="btn-GR-displayPO">Goods Receipt</button>
    <div id="dialog-GR-displayPO" class="hidden" title="Basic dialog">
        <p>Goods receipt btn.</p>
    </div>
</div>
@*--------------------------------------------*@

<div id="details-back-btn">

    @using (Html.BeginForm("BackToPOList", "StorePurchase", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>

<style>
    #btns-grp-btm {
        margin-right: 10vw;
    }
</style>