@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>

    $(function () {
        $("#datepicker-GR-Date").datepicker();
    });

    $(function () {
        $("#dialog-print-displayGR").dialog({
            autoOpen: false
        });
    });

    $('#btn-print-displayGR').click(function () {
        $('#dialog-print-displayGR').dialog('open');
        return false;
    });

    $.getJSON("http://localhost:49921/MyServiceWCF.svc/GoodsReceivedWCFList")

</script>

@Helper.GoodsReceivedDetailedDatatable()

<div>
    <h2>Goods Receipt</h2>
</div>

<div>


    <button class="btn-blue" id="btn-print-displayGR">Goods Receipt</button>
    <div id="dialog-print-displayGR" class="hidden" title="Basic dialog">
        <p>Print via here.</p>
    </div>
</div>

<div>
    <label>Goods Receipt Number: @ViewBag.Id</label>
    <br />
    <label>PO Number: @ViewBag.po</label>
    <br />
    <label>Date: @ViewBag.date</label>
    <br />
    <label>Supplier: @ViewBag.sup</label>
    <br />
    <label>Created By: @ViewBag.rec</label>
</div>

<div>
    <p>Remarks:</p>
    @ViewBag.rem
</div>

<table id="dataTable-displayGR" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Product Name</th>
            <th>Unit of Measure</th>
            <th>Qty</th>
            <th>Price ($)</th>
            <th>Total ($)</th>
        </tr>
    </thead>
</table>

<div>
    <label>Net Total ($): <input type="text" id="GR-net-total"></label>
    <label>Gross Total ($): <input type="text" id="GR-gross-total"></label>
</div>


<div id="details-back-btn">

    @using (Html.BeginForm("BackToGRList", "StorePurchase", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>
