@{
    Layout = null;
    ReqHistoryModel req = (ReqHistoryModel)Session["CurrentReqHistory"];
    bool editMode = (bool)Session["existingReqEditMode"];
}

@using SA46Team1_Web_ADProj.Models;

<script>
    var table;

    $(document).ready(function () {

        if (@editMode.ToString().ToLower()== true) {
            $("#btn-save-req-history").show();
            $("#btn-edit-req-history").hide();
            $("#btn-submit-discard-req-items").show();


            $('#dataTable-pastReq-details tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

        } else {
            $("#btn-save-req-history").hide();
            $("#btn-edit-req-history").show();
            $("#btn-submit-discard-req-items").hide();
        }

        //check: disable edit btn on intialisation IF SRH's approval status is !=pending
        if ('@req.ApprovalStatus' != 'Pending') {
            $("#btn-edit-req-history").prop('disabled', true);
        }
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRequisitionHistoryDetail/' + '@Session["id"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                d = data;

                table = $('#dataTable-pastReq-details').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    select: {
                        style: 'multi'
                    },
                    columns: [
                        { 'data': 'Description' },
                        { 'data': 'UoM' },
                        {
                            'data': 'QuantityOrdered',
                            "render": function (data, type, full, meta) {
                                if (@editMode.ToString().ToLower() == true) {
                                    return '<input id="edit-qty-order" type="number" value="' + $('<div/>').text(data).html() + '" min="1">';
                                } else {
                                    return data;
                                }
                            }
                        },
                        { 'data': 'QuantityDelivered' },
                        { 'data': 'QuantityBackOrdered' }
                    ]
                });
            }
        });
    });

    $(function () {
        $("#dialog-confirm-discard-req-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(function () {
        $("#dialog-discard-req-item-submitted").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $(function () {
        $("#dialog-discard-req-no-item-submitted").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(function () {
        $("#dialog-edit-req-zero-input-alert").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $(function () {
        $("#dialog-update-req-items-success").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $(function () {
        $("#dialog-confirm-discard-req-item-error").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $('#btn-edit-req-history').on('click', function () {

        //toggle save/edit btn visibility
        //$('#btn-edit-req-history').hide();
        //$('#btn-save-req-history').show();
        //$("#btn-submit-discard-req-items").show();

        $.ajax({
            url: '/DeptRequisitionHistory/EditExisitingOrderQty',
            type: 'POST',
        });

        table.draw(false);
        window.location.href = '@Url.Action("RequisitionHistory", "Dept")';

    });

   $('#btn-submit-discard-req-items').on('click', function () {
        //check if no items are selected
       var noSelected = table.rows('.selected').data().length;
       
       if (noSelected == Object.keys(d).length) {
           $('#dialog-confirm-discard-req-item-error').dialog('open');
           return;
       }

        if (noSelected == 0) {
            $("#dialog-discard-req-no-item-selected").dialog('open');
        } else {
            $('#dialog-confirm-discard-req-item').dialog('open');
        }
    });

    $('#btn-confirm-discard-no').on('click', function () {
        $('#dialog-confirm-discard-req-item').dialog('close');
    });

    $('#btn-confirm-discard-yes').click(function () {

        var data = table.rows('.selected').data();
        var noSelected = table.rows('.selected').data().length;
        var toDeleteArray = [];

        for (i = 0; i < noSelected; i++) {
            toDeleteArray.push(data[i].Description);
        }

        table.row('.selected').remove().draw(false);

        $.ajax({
            url: '/DeptRequisitionHistory/DiscardSelReqItems',
            data:
                JSON.stringify({
                    deleteItemDesc: toDeleteArray
                }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        $('#dialog-confirm-discard-req-item').dialog('close');
         table.draw(false);
        $('#dialog-discard-req-item-submitted').dialog('open');

    });

    $('#btn-save-req-history').on('click', function () {

        var data = table.column(2).data();
        var dataToSend = "";
        var arr = [];
        var arr1 = []
        for (var i = 0; i < table.rows().data().length; i++) {
            var newOrderQty = table.cell(i, 2).nodes().to$().find('input').val();
            dataToSend = table.rows(i).data();
            arr1.push(newOrderQty);
            arr.push(dataToSend[0]);

            if (newOrderQty == "0") {
                editMode = false;
                $("#dialog-edit-req-zero-input-alert").dialog('open');
                return;
            }
        }

        //toggle save/edit btn visibility
        $("#btn-save-req-history").hide();
        $("#btn-edit-req-history").show();

        $.ajax({
            url: '/DeptRequisitionHistory/ExitEditExistingOrderQty',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ arr: arr, arr1: arr1 }),
            success: function () {

                alert('success');
            }
        });

        $("#dialog-update-req-items-success").dialog('open');
        editMode = false;
        table.draw(false);

        window.location.href = '@Url.Action("RequisitionHistory", "Dept")';

    });

    $('#btn-confirm-withdrawal-no').on('click', function () {
        $('#dialog-confirm-discard-req-item-error').dialog('close');
    });

    $('#btn-confirm-withdrawal-yes').click(function () {

        var data = table.rows('.selected').data();
        var noSelected = table.rows('.selected').data().length;
        var toDeleteArray = [];
        
        for (i = 0; i < noSelected; i++) {
            toDeleteArray.push(data[i].Description);
        }

        table.row('.selected').remove().draw(false);

        $.ajax({
            url: '/DeptRequisitionHistory/DiscardSelReqItems',
            data:
                JSON.stringify({
                    deleteItemDesc: toDeleteArray
                }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
        });

        $('#dialog-confirm-discard-req-item').dialog('close');
        table.draw(false);
        $('#dialog-discard-req-item-submitted').dialog('open');
        
    });


</script>

<div>
    <h2>Requisition Form # @Session["id"]</h2>

    <span class="col-md-12">
        <button id="btn-print-req-history" class="btn btn-info" type="submit" style="float: right">
            Print
        </button>
    </span>
</div>


<table id="dataTable-pastReq-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Item Description</th>
            <th>Unit of Measure</th>
            <th>Requested Qty</th>
            <th>Delivered Qty</th>
            <th>Back Order Qty</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

<hr />
<div class="row">
    <div>
        <label>Approval Status</label>
        <input type="text" name="country" value=@req.ApprovalStatus readonly />
    </div>

    <div>
        <label>Request Date</label>
        <input type="text" name="country" value=@req.RequestDate readonly />
    </div>

    <div>
        <label>Representative</label>
        <input type="text" name="country" value=@req.RepName readonly />
    </div>

    <div>
        <label>Approved By</label>
        <input type="text" name="country" value=@req.ApproverName readonly />
    </div>

    <div>
        <span class="col-md-12">
            <button id="btn-edit-req-history" class="btn btn-info" type="submit" style="float: right">
                Edit
            </button>
        </span>

        <span class="col-md-12">
            <button id="btn-submit-discard-req-items" class="btn btn-info" type="submit" style="float: right">
                Discard
            </button>
        </span>


        <span class="col-md-12">
            <button id="btn-save-req-history" class="btn btn-info" type="submit" style="float: right">
                Save
            </button>
        </span>
    </div>

</div>

<div class="row">
    <span class="col-md-12">
        <div style="float: right">@Html.ActionLink("Back", "RequisitionHistory", "Dept", null, new { @class = "btn btn-info" })</div>
    </span>
</div>


<div id="dialog-edit-req-zero-input-alert" class="hidden" title="New Order Qty cannot be 0 (Edit Requisition)">
    <p>Requisition order qty cannot be 0.</p>
</div>


<div id="dialog-confirm-discard-req-item" class="hidden" title="Confirm Discard Selected (Edit Requisition)">
    <p>Are you sure you want to cancel the selected request item?</p>
    <span>
        <button class="btn btn-primary" id="btn-confirm-discard-no">No</button>
    </span>

    <span>
        <button class="btn btn-primary" id="btn-confirm-discard-yes">Yes</button>
    </span>
</div>


<div id="dialog-update-req-items-success" class="hidden" title="Request Item(s) updated (Edit Requisition)">
    <p>Requisition request has been successfully.</p>
</div>

<div id="dialog-discard-req-item-submitted" class="hidden" title="Item(s) Removed (Edit Requisition)">
    <p>Selected request item(s) have been removed.</p>
</div>

<div id="dialog-discard-req-no-item-submitted" class="hidden" title="No Item Selected (Edit Requisition)">
    <p>No request item is selected for removal.</p>
</div>

<div id="dialog-confirm-discard-req-item-error" class="hidden" title="Request Withdrawal warning (Edit Requisition)">
    <p>Are you sure you want to withdraw this request?</p>
    <span>
        <button class="btn btn-primary" id="btn-confirm-withdrawal-no">No</button>
    </span>

    <span>
        <button class="btn btn-primary" id="btn-confirm-withdrawal-yes">Yes</button>
    </span>
</div>

