@{
    Layout = null;
}

@using SA46Team1_Web_ADProj.Models;
@model Tuple<ApprovalDelegation, Employee>

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRoleDelegationList/' + '@Session["DepartmentCode"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-roles-delegation').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    scrollY: 200,
                    data: data,
                    responsive: true,
                    columns: [
                        { 'data': 'EmpId' },
                        { 'data': 'EmpName' },
                        { 'data': 'Role' },
                        {
                            'data': 'FromDate',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return date > 1 ? date.getDate() + "/" + month + "/" + date.getFullYear() : "";
                            }},
                        {
                            'data': 'ToDate',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return date>1? date.getDate() + "/" + month + "/" + date.getFullYear():"";
                            }},
                        {
                            'data': null,
                            'render': function (data, type, row) {
                                return '<button id="btn-edit-employee-auth" class="btn-blue-small" onclick="myFunction(\'' + data["EmpName"] + '\')" data-toggle="modal" data-target="#dialog-show-employee-auth">Edit</button>';
                            }

                        },
                    ],
                    columnDefs: [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }
                    ]
                });
            }
        });
        
        $(function () {
            $("#dialog-show-employee-auth").dialog({
                autoOpen: false,
                width: "40%",
                maxWidth: "40%"
            });
        });


        $(function () {
            $("#datepicker-assign-role-start").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
            $("#datepicker-assign-role-end").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        });

        $(function () {
            $("#dialog-saved-employee-auth-edit").dialog({
                autoOpen: false,
                width: "40%",
                maxWidth: "40%"
            });
        });

        $("#form-submit-new-auth").submit(function () {
            $('#dialog-show-employee-auth').dialog('close');
            $('#dialog-saved-employee-auth-edit').dialog('open');
        });

    });

    function myFunction(param) {
        $('#assign-emp-role-name').val(param);
        $('#dialog-show-employee-auth').dialog('open');
        return false;
    }

</script>

<h2>Role Delegation</h2>

<table id="dataTable-roles-delegation" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Role</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Assign</th>
        </tr>
    </thead>
</table>


<div id="dialog-saved-employee-auth-edit" class="hidden" title="Changes saved">
    <p>Changes to employee's role delegation have been saved.</p>
</div>


<div id="dialog-show-employee-auth" class="hidden" title="Update Employee Role">
    @using (Html.BeginForm("SubmitNewDelegation", "DeptAuthorisation", FormMethod.Post, new { id = "form-submit-new-auth" }))
    {
        <div>
            <div>
                <label>Employee Name: </label>
                @Html.EditorFor(tuple => tuple.Item2.EmployeeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "EmployeeName" , @id = "assign-emp-role-name" }, })
            </div>
            <div>
                <label>Role: </label>
                @Html.DropDownList("SelectNewEmpRole", ViewBag.RolesList as SelectList)
            </div>

            <div>
                <label>Period: </label>
                @Html.EditorFor(tuple => tuple.Item1.FromDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "FromDate", @id = "datepicker-assign-role-start" }, })
                @Html.EditorFor(tuple => tuple.Item1.ToDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "ToDate", @id = "datepicker-assign-role-end" }, })
            </div>

            <input id="btn-submit-emp-role-changes" class="btn-blue" type="submit" value="Save" />

        </div>
    }
</div>
