@{
    Layout = null;
}

@using SA46Team1_Web_ADProj.Models;
@model Tuple<ApprovalDelegation, Employee>

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:49921/api/Restful/GetRoleDelegationList/' + '@Session["DepartmentCode"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-roles-delegation').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    "iDisplayLength": 5,
                    //scrollY: 200,
                    data: data,
                    responsive: true,
                    columns: [
                        { 'data': 'EmpId' },
                        { 'data': 'EmpName' },
                        { 'data': 'Role' },
                        {
                            'data': 'FromDate',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return date > 1 ? date.getDate() + "/" + month + "/" + date.getFullYear() : "";
                            }},
                        {
                            'data': 'ToDate',
                            'render': function (jsonDate) {

                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return date>1? date.getDate() + "/" + month + "/" + date.getFullYear():"";
                            }},
                        {
                            'data': null,
                            'render': function (data, type, row) {
                                return '<div style="align-content:center"><button id="btn-edit-employee-auth" class="btn btn-info" onclick="myFunction(\'' + data["EmpName"] + '\')" data-toggle="modal" data-target="#dialog-show-employee-auth">Edit</button></div>';
                            }

                        },
                    ],
                    columnDefs: [
                        {
                            //"targets": [0],
                            //"visible": false,
                            //"searchable": false
                            className: 'text-center', targets: [0, 1, 2, 3, 4, 5]
                        }
                    ]
                });
            }
        });

        $(function () {
            $("#dialog-show-employee-auth").dialog({
                autoOpen: false,
                width: "40%",
                maxWidth: "40%"
            });
        });


        $("#datepicker-assign-role-start").datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: new Date(),
            onSelect: function (dateText, inst) {
                $("#datepicker-assign-role-end").datepicker("option", "minDate", $("#datepicker-assign-role-start").datepicker("getDate"));
            }
        }).datepicker("setDate", new Date());

        $("#datepicker-assign-role-end").datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: new Date()
        }).datepicker("setDate", new Date());
        

        $(function () {
            $("#dialog-saved-employee-auth-edit").dialog({
                autoOpen: false,
                width: "40%",
                maxWidth: "40%"
            });
        });
        

        $("#form-submit-new-auth").submit(function () {
            $('#dialog-show-employee-auth').dialog('close');
            $('#dialog-saved-employee-auth-edit').dialog('open');
        });

    });

    function myFunction(param) {
        $('#assign-emp-role-name').val(param);
        $('#dialog-show-employee-auth').dialog('open');
        return false;
    }

    function RoleChange(val) {
        if (val == "Approver") {
            $('#lbl-period').show();
            $('#datepicker-assign-role-start').show();
            $('#datepicker-assign-role-end').show();
        } else {
            $('#lbl-period').hide();
            $('#datepicker-assign-role-start').hide();
            $('#datepicker-assign-role-end').hide();
        }
    }

</script>

<div class="row">
    <div class="col-md-6">
        <h5>Role Delegation</h5>
    </div>
</div>

<br />

<table id="dataTable-roles-delegation" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Role</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Assign</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<div id="dialog-saved-employee-auth-edit" class="hidden" title="Changes saved">
    <p>Changes to employee's role delegation have been saved.</p>
</div>

<div id="dialog-show-employee-auth" class="hidden" title="Update Employee Role">
    @using (Html.BeginForm("SubmitNewDelegation", "DeptAuthorisation", FormMethod.Post, new { id = "form-submit-new-auth" }))
    {
        <div>
            <div>
                <label>Employee Name: </label>
                @Html.EditorFor(tuple => tuple.Item2.EmployeeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "EmployeeName", @id = "assign-emp-role-name" , disabled = "disabled" }, })
            </div>
            <br />
            <div>
                <label>Role: </label>
                @Html.DropDownList("SelectNewEmpRole", ViewBag.RolesList as SelectList, new { @onchange = "RoleChange(this.value)" })
            </div>

            <div>
                <label id="lbl-period" class="hidden">Period: </label>
                @Html.EditorFor(tuple => tuple.Item1.FromDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "FromDate", @id = "datepicker-assign-role-start" }, })
                @Html.EditorFor(tuple => tuple.Item1.ToDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "ToDate", @id = "datepicker-assign-role-end" }, })
            </div>
            <hr />
            <input id="btn-submit-emp-role-changes" class="btn btn-lu-green btn-block" type="submit" value="Save" />

        </div>
    }
</div>
