@*--------------------------------
    Author: Ong Wei Ting
    --------------------------------*@

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost/lu/api/Restful/GetStoreAllNotifications/' + '@Session["LoginEmployeeID"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                table = $('#dataTable-notifications-all').DataTable({
                    paging: true,
                    sort: true,
                    order: [[2, "desc"], [1, "desc"]],
                    searching: true,
                    "iDisplayLength": 5,
                    data: data,
                    responsive: true,
                    columns: [
                        {
                            'data': 'DateRequested',
                            'render': function (jsonDate) {
                                var date = new Date(jsonDate.substr(0));
                                var month = date.getMonth() + 1;
                                return date > 1 ? date.getDate() + "/" + month + "/" + date.getFullYear() : "";
                            }

                        },
                        {
                            'data': 'RequestId',
                            'render': function (data, type, row) {
                                return '<p> Stock Adjustment RequestId: ' + row["RequestId"] +' is ' + row["Status"] + '.</p>';
                            }

                        },
                        { 'data': 'NotificationStatus' }
                    ],
                    columnDefs: [
                        {
                            className: 'text-center', targets: [0, 1, 2]
                        }
                    ],
                    drawCallback: function (settings) {
                         $('#dataTable-notifications-all tbody').on('click', 'tr', function () {
                            var data = table.row(this).data();

                            $.ajax({
                                url: '/lu/StoreNotifications/MsgClicked',
                                data: { reqFormId: data["RequestId"], item: data["ItemCode"] },
                                type: 'POST',
                                async: false
                            });
                             if ('@Session["Role"].ToString()' == 'Store Clerk') {
                                 window.location.href = '@Url.Action("Inventory", "Store")';
                             } else {
                                window.location.href = '@Url.Action("Approval", "Store")';
                             }

                        });
                    }

                });
            }
        });
    });

</script>
<div id="loading" style="font-family: 'Oxygen', sans-serif;">

    <h5>Notifications - All</h5>

    <table id="dataTable-notifications-all" class="display" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>Date Requested</th>
                <th>Message</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt;"></tbody>
    </table>
</div>