@*--------------------------------
    Author: Ong Wei Ting
    --------------------------------*@

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />


<script>
    var table;

    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost/lu/api/Restful/GetCategoryList/'+ '@Session["MaintenanceCategoryId"]',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                d = data;

                table = $('#dataTable-store-categories-details').DataTable({
                    paging: false,
                    sort: false,
                    searching: false,
                    "iDisplayLength": 5,
                    "bInfo": false,
                    data: data,
                    columns: [
                        { 'data': 'CategoryID' },
                        {
                            'data': 'CategoryName',
                            "render": function (data, type, full, meta) {
                                return '<input id="input-category-name" maxlength="255" style="text-align: center;" type="text" value="' + $('<div/>').text(data).html() + '">';
                            }},
                        {
                            'data': 'Active',
                            render: function (data, type, row) {

                                if ('@TempData["countItemsWithQtyNotZero"].ToString().ToLower()' == "false") {
                                    if (data != 0) {
                                        //active status
                                        //to check for item qty balance (readonly if qty balance >0)
                                        return '<input id="input-category-active" type="checkbox" checked>';
                                    } else {
                                        return '<input id="input-category-active" type="checkbox">';
                                    }
                                } else {
                                    return data != 0 ? 'Active' : 'Inactive';
                                }

                            }
                        },
                    ],
                    columnDefs: [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }, {
                            className: 'text-center', targets: [0, 1, 2]
                        }
                    ],

                });
            }
            });

    });

    $(function () {
        $("#dialog-submit-edit-category").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(document).ajaxComplete(function () {
        $('#btn-edit-category').click(function () {
            var dataToSend = "";
            var arr = [];

            dataToSend = table.rows(0).data();
            for (var i = 0; i < Object.keys(d).length; i++) {
                var rowData = dataToSend[i];
                rowData.CategoryName = $("#input-category-name").val();
                rowData.Active = $("#input-category-active").prop('checked');

                arr.push(rowData);
            }

            $('#dialog-submit-edit-category').dialog('open');


            $.ajax({
                type: 'POST',
                url: '/lu/Store/StoreMaintenance/Categories/EditCategory',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                data: JSON.stringify({ arr: arr })
            });

            table.draw(false); //this line needed, if not upon save, table does not auto display updated data (until next refresh)
            window.location.href = '@Url.Action("Maintenance", "Store")';

        });
    });

</script>
<div id="loading" style="font-family: 'Oxygen', sans-serif;">

    <div>
        <h5>Category: @Session["MaintenanceCategoryId"]</h5>
    </div>

    <table id="dataTable-store-categories-details" class="display" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>Category Id</th>
                <th>Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt;"></tbody>
    </table>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <span>
                @using (Html.BeginForm("BackToCategoriesMaintenanceList", "StoreMaintenance", FormMethod.Post))
                {
                    <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;" />
                }
            </span>
        </div>
        <div class="col-md-6">
            <div style="float: right;">
                <span>
                    <button id="btn-edit-category" class="btn btn-lu-green" style="font-size: 10pt;">Save</button>
                </span>
            </div>
        </div>
    </div>

    <div id="dialog-submit-edit-category" class="hidden" style="overflow-x:hidden;">
        <br />
        <div style="text-align:center;">
            <h5>Category has been successfully edited!</h5>
        </div>
        <hr />
    </div>
</div>