@*--------------------------------
    Author: Ong Wei Ting
    --------------------------------*@

@{
    Layout = null;
}


@using SA46Team1_Web_ADProj.Models;
@model Item

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetItemsList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-items').DataTable({
                paging: true,
                sort: true,
                searching: true,
                "iDisplayLength": 4,
                scrollY: 230,
                data: data,
                columns: [
                    { 'data': 'ItemCode' },
                    { 'data': 'Description' },
                    { 'data': 'CategoryName' },
                    { 'data': 'UoM' },
                    { 'data': 's1' },
                    { 'data': 's2' },
                    { 'data': 's3' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    }
                ],
                drawCallback: function (settings) {
                    $('#dataTable-store-items tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/StoreMaintenance/DisplayItemDetails',
                            data: { maintenanceItemCode: data["ItemCode"] },
                            type: 'POST',
                            async: false
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }, {
                        className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                ],
            });
        }
        });
    });

    $(function () {
        $("#dialog-add-new-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-add-new-item').on('click', function () {
        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
        $('#dialog-add-new-item').dialog('open');
    });

    $("#dialog-add-new-item").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-add-new-item').dialog('close');
    });

    $(function () {
        $("#dialog-submit-add-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $(function () {
        $("#dialog-submit-same-supplier-error").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });   

    $("#dialog-submit-add-item").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-submit-add-item').dialog('close');
    });

    $(function () {
        $("#form-submit-add-new-item").submit(function (event) {
            if ($('#SelectSupplier1 :selected').text() == $('#SelectSupplier2 :selected').text() ||
                $('#SelectSupplier1 :selected').text() == $('#SelectSupplier3 :selected').text() ||
                $('#SelectSupplier2 :selected').text() == $('#SelectSupplier3 :selected').text()) {
                event.preventDefault();
                $("#dialog-submit-same-supplier-error").dialog('open');
            } else {
                $('#dialog-add-new-item').dialog('close');
                $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
                $('#dialog-submit-add-item').dialog('open');
            }
        });
    });
</script>
<div id="loading" style="font-family: 'Oxygen', sans-serif;">

    <div>
        <h5>Maintenance - Item</h5>
    </div>


    <table id="dataTable-store-items" class="display" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Category</th>
                <th>Unit of Measure</th>
                <th>Supplier 1</th>
                <th>Supplier 2</th>
                <th>Supplier 3</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt;"></tbody>
    </table>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div style="float: right">
                <span>
                    <button id="btn-add-new-item" class="btn btn-lu-blue" style="font-size: 10pt;">Add New Item</button>
                </span>
            </div>
        </div>
    </div>

    <div id="dialog-add-new-item" class="hidden" style="overflow-x:hidden;">
        @using (Html.BeginForm("AddNewItem", "StoreMaintenance", FormMethod.Post, new { id = "form-submit-add-new-item", autocomplete = "off" }))
        {
            <div>
                <br />
                <div style="text-align:center"><h5>Add New Item</h5></div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <label>Item Description: </label>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description", @maxlength = "255", @id = "new-item-desc" }, })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <label>Category: </label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownList("SelectItemCategory", ViewBag.CategoryList as SelectList)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Unit of Measure:</label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownList("SelectItemUOM", ViewBag.UOMList as SelectList)
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-3">
                        <label>Reorder Level:</label>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ReOrderLevel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reorder Level", @step = "1", @min = "1", @max = "2000", @id = "new-item-reorder-lvl" }, })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Reorder Qty: </label>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ReOrderQuantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reorder Quantity", @step = "1", @min = "1", @max = "2000", @id = "new-item-reorder-qty" }, })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <label>Supplier 1: </label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownList("SelectSupplier1", ViewBag.SupplierList as SelectList)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Supplier 2: </label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownList("SelectSupplier2", ViewBag.SupplierList as SelectList)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Supplier 3: </label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownList("SelectSupplier3", ViewBag.SupplierList as SelectList)
                    </div>
                </div>
                <hr />
                <input id="btn-submit-add-item" class="btn btn-lu-green btn-block" type="submit" value="Add" />

            </div>
        }
    </div>

    <div id="dialog-submit-add-item" class="hidden" title="Add Item Successful (Maintenance)" style="overflow-x:hidden;">
        <p>New Item has been successfully added.</p>
    </div>

    <div id="dialog-submit-same-supplier-error" class="hidden" title="Add Item Error (Maintenance)" style="overflow-x:hidden;">
        <p>Supplier choices cannot be duplicated.</p>
    </div>

</div>