@{
    Layout = null;
}

@using SA46Team1_Web_ADProj.Models;
@model Item

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;
    var list = '@ViewBag.SupplierList';
    var data = list.replace(/&quot;/g, '"');
    var dataJSON = JSON.parse(data);
    var dataKeys = Object.keys(dataJSON);

    $(document).ready(function () {

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetItemsById/' + '@Session["MaintenanceItemCode"]',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            d = data;

            table = $('#dataTable-store-items-details').DataTable({
                paging: false,
                sort: false,
                searching: false,
                "iDisplayLength": 5,
                "bInfo": false,
                scrollX: 800,
                data: [data],
                columns: [
                    { 'data': 'ItemCode' },
                    {
                        'data': 'Description',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-item-desc" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    { 'data': 'CategoryName'},
                    { 'data': 'UoM' },
                    {
                        'data': null,
                        "render": function (data, type, full, meta) {
                            return '@TempData["ReorderLvl"]';
                        }
                    },
                     {
                        'data': null,
                        "render": function (data, type, full, meta) {
                            return '@TempData["ReorderQty"]';
                        }
                    },
                    {
                        'data': 's1',
                        "render": function (d, t, r) {

                            var $select = $('<select id="select-item-s1"></select>', {
                                "id": r[0] + "start",
                                "value": d
                            });

                            for (i = 0; i < dataKeys.length; i++) {
                                var $option = $("<option></option>", {
                                    "text": dataJSON[dataKeys[i]],
                                    "value": dataKeys[i]
                                });
                                if (d === dataJSON[dataKeys[i]]) {
                                    $option.attr("selected", "selected")
                                }
                                $select.append($option);
                            }

                            return $select.prop("outerHTML");
                        }
                    },
                    {
                        'data': 's2',
                        "render": function (d, t, r) {

                            var $select = $('<select id="select-item-s2"></select>', {
                                "id": r[0] + "start",
                                "value": d
                            });

                            for (i = 0; i < dataKeys.length; i++) {
                                var $option = $("<option></option>", {
                                    "text": dataJSON[dataKeys[i]],
                                    "value": dataKeys[i]
                                });
                                if (d === dataJSON[dataKeys[i]]) {
                                    $option.attr("selected", "selected")
                                }
                                $select.append($option);
                            }

                            return $select.prop("outerHTML");
                        }
                    },
                    {
                        'data': 's3',
                        "render": function (d, t, r) {

                            var $select = $('<select id="select-item-s3"></select>', {
                                "id": r[0] + "start",
                                "value": d
                            });

                            for (i = 0; i < dataKeys.length; i++) {
                                var $option = $("<option></option>", {
                                    "text": dataJSON[dataKeys[i]],
                                    "value": dataKeys[i]
                                });
                                if (d === dataJSON[dataKeys[i]]) {
                                    $option.attr("selected", "selected")
                                }
                                $select.append($option);
                            }

                            return $select.prop("outerHTML");
                        }
                    },
                    {
                        'data': 'Active',
                         render: function (data, type, row) {

                                if ('@TempData["countItemsWithQtyNotZero"].ToString().ToLower()' == "false") {
                                    if (data != 0) {
                                        //active status
                                        //to check for item qty balance (readonly if qty balance >0)
                                        return '<input id="input-item-active" type="checkbox" checked>';
                                    } else {
                                        return '<input id="input-item-active" type="checkbox">';
                                    }
                                } else {
                                    return data != 0 ? 'Active' : 'Inactive';
                                }
                                
                            }
                            //if (data != 0) {
                            //    //active status
                            //    return '<input id="input-item-active" type="checkbox" checked>';
                            //} else {
                            //    return '<input id="input-item-active" type="checkbox">';
                            //}
                            // }
                    }
                ],
                columnDefs: [
                    {
                        className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                ],
            });
        }
        });
    });


    $(function () {
        $("#dialog-submit-edit-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(document).ajaxComplete(function () {
        $('#btn-edit-item').click(function () {
            var dataToSend = "";
            var desc = [];
            var suppliers = [];
            var status = [];

            dataToSend = table.rows(0).data();
            for (var i = 0; i < Object.keys(d).length; i++) {
                
                var rowData = dataToSend[i];
                itemDesc = $("#input-item-desc").val();
                supplier1 = $("#select-item-s1").val();
                supplier2 = $("#select-item-s2").val();
                supplier3 = $("#select-item-s3").val();
                active = $("#input-item-active").prop('checked');

                desc.push(itemDesc);
                suppliers.push(supplier1);
                suppliers.push(supplier2);
                suppliers.push(supplier3);
                status.push(active);
            }
            
            $.ajax({
                type: 'POST',
                url: '/Store/StoreMaintenance/Items/EditItem',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                data: JSON.stringify({ suppliers: suppliers, desc: desc, status:status })
            });

            $('#dialog-submit-edit-item').dialog('open');
            table.draw(false); //this line needed, if not upon save, table does not auto display updated data (until next refresh)
            window.location.href = '@Url.Action("Maintenance", "Store")';

        });
    });
</script>

<div>
    <h5>Item Code: @Session["MaintenanceItemCode"]</h5>
</div>


<table id="dataTable-store-items-details" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Category</th>
            <th>Unit of Measure</th>
            <th>Reorder Level</th>
            <th>Reorder Quantity</th>
            <th>Supplier 1</th>
            <th>Supplier 2</th>
            <th>Supplier 3</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-11">
        <div style="float: right">
            <span>
                @using (Html.BeginForm("BackToItemsMaintenanceList", "StoreMaintenance", FormMethod.Post))
                {
                    <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;"/>
                }
            </span>
        </div>
    </div>
    <div class="col-md-1">
        <span>
            <button id="btn-edit-item" class="btn btn-lu-green" style="font-size: 10pt;">Save</button>
        </span>
    </div>
</div>

<div id="dialog-submit-edit-item" class="hidden" title="Edit Item Successful (Maintenance)">
    <p>Item has been successfully edited.</p>
</div>