@{
    Layout = null;
}


@using SA46Team1_Web_ADProj.Models;
@model Item

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetItemsList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-items').DataTable({
                paging: true,
                sort: true,
                searching: true,
                "iDisplayLength": 4,
                scrollY: 230,
                data: data,
                columns: [
                    { 'data': 'ItemCode' },
                    { 'data': 'Description' },
                    { 'data': 'CategoryName' },
                    { 'data': 'UoM' },
                    { 'data': 's1' },
                    { 'data': 's2' },
                    { 'data': 's3' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    }
                ],
                drawCallback: function (settings) {
                    $('#dataTable-store-items tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/StoreMaintenance/DisplayItemDetails',
                            data: { maintenanceItemCode: data["ItemCode"] },
                            type: 'POST',
                            async: false
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }, {
                        className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                ],
            });
        }
        });
    });

    $(function () {
        $("#dialog-add-new-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-add-new-item').on('click', function () {
        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
        $('#dialog-add-new-item').dialog('open');
    });

    $("#dialog-add-new-item").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-add-new-item').dialog('close');
    });

    $(function () {
        $("#dialog-submit-add-item").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-submit-add-item').on('click', function () {
        $('#dialog-add-new-item').dialog('close');
        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' })
        $('#dialog-submit-add-item').dialog('open');
    });

    $("#dialog-submit-add-item").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' })
        $('#dialog-submit-add-item').dialog('close');
    });

</script>

<div>
    <h5>Maintenance - Item</h5>
</div>


<table id="dataTable-store-items" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Category</th>
            <th>Unit of Measure</th>
            <th>Supplier 1</th>
            <th>Supplier 2</th>
            <th>Supplier 3</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-12">
        <div style="float: right">
            <span>
                <button id="btn-add-new-item" class="btn btn-lu-blue" style="font-size: 10pt;">Add New Item</button>
            </span>
        </div>
    </div>
</div>

<div id="dialog-add-new-item" class="hidden" @*title="Add Item (Maintenance)"*@>
    @using (Html.BeginForm("AddNewItem", "StoreMaintenance", FormMethod.Post, new { id = "form-submit-add-new-item" }))
    {
    <div>
        <br />
        <div style="text-align:center"><h5>Add New Item</h5></div>
        <hr />
        <div>
            <label>Item Description: </label>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description", @id = "new-item-desc" }, })
        </div>
        <hr />
        <div>
            <label>Category: </label>
            @Html.DropDownList("SelectItemCategory", ViewBag.CategoryList as SelectList)
        </div>

        <div>
            <label>Unit of Measure:</label>
            @Html.DropDownList("SelectItemUOM", ViewBag.UOMList as SelectList)
        </div>
        <hr />
        @*<div>
            <label>Quantity:</label>
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantity", @id = "new-item-qty" }, })
        </div>*@

        <div>
            <label>Reorder Level:</label>
            @Html.EditorFor(model => model.ReOrderLevel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reorder Level", @id = "new-item-reorder-lvl" }, })
        </div>

        <div>
            <label>Reorder Qty: </label>
            @Html.EditorFor(model => model.ReOrderQuantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reorder Quantity", @id = "new-item-reorder-qty" }, })
        </div>
        <hr />
        <div>
            <label>Supplier 1: </label>
            @Html.DropDownList("SelectSupplier1", ViewBag.SupplierList as SelectList)
        </div>

        <div>
            <label>Supplier 2: </label>
            @Html.DropDownList("SelectSupplier2", ViewBag.SupplierList as SelectList)
        </div>

        <div>
            <label>Supplier 3: </label>
            @Html.DropDownList("SelectSupplier3", ViewBag.SupplierList as SelectList)
        </div>
        <input id="btn-submit-add-item" class="btn btn-lu-green btn-block" type="submit" value="Add" />

    </div>
    }
</div>

<div id="dialog-submit-add-item" class="hidden" title="Add Item Successful (Maintenance)">
    <p>New Item has been successfully added.</p>
</div>

