@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    
     $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetSuppliersList/'+ '@Session["MaintenanceSupplierCode"]',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-suppliers-details').DataTable({
                paging: true,
                sort: true,
                searching: true,
                scrollY: 200,
                data: data,
                columns: [
                    { 'data': 'SupplierCode' },
                    { 'data': 'CompanyName' },
                    { 'data': 'ContactName' },
                    { 'data': 'PhoneNo' },
                    { 'data': 'FaxNo' },
                    { 'data': 'Address' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    },    ],
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });
        }
        });
    });
</script>

<div>
    <h2>Supplier: @Session["MaintenanceSupplierCode"]</h2>
</div>


<table id="dataTable-store-suppliers-details" class="display" style="width:80%;">
    <thead>
        <tr>
            <th>Supplier Code</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Phone No.</th>
            <th>Fax No.</th>
            <th>Address</th>
            <th>Active</th>
        </tr>
    </thead>
</table>

<button class="btn-blue">@Html.ActionLink("View Price List", "Home", "Store")</button>
<button class="btn-blue">@Html.ActionLink("Edit", "Home", "Store")</button>

<div id="details-back-btn">

    @using (Html.BeginForm("BackToSuppliersMaintenanceList", "StoreMaintenance", FormMethod.Post))
    {
        <input class="btn-blue" type="submit" value="Back" />
    }
</div>