@*--------------------------------
    Author: Ong Wei Ting
    --------------------------------*@

@{
    Layout = null;
}


@using SA46Team1_Web_ADProj.Models;
@model Supplier

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>

     $(document).ready(function () {

    var table;

    $.ajax({
        url: 'http://localhost/lu/api/Restful/GetSuppliersList',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            table = $('#dataTable-store-suppliers').DataTable({
                paging: true,
                sort: true,
                searching: true,
                "iDisplayLength": 4,
                scrollY: 230,
                data: data,
                columns: [
                    { 'data': 'SupplierCode' },
                    { 'data': 'CompanyName' },
                    { 'data': 'ContactName' },
                    { 'data': 'PhoneNo' },
                    { 'data': 'FaxNo' },
                    { 'data': 'Address' },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            var status = data;
                            return status != 0 ? 'Active' : 'Inactive';
                        }
                    },                ],
                drawCallback: function (settings) {
                    $('#dataTable-store-suppliers tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();

                        $.ajax({
                            url: '/lu/StoreMaintenance/DisplaySupplierDetails',
                            data: { maintenanceSupplierCode: data["SupplierCode"] },
                            type: 'POST',
                            async: false
                        });

                        window.location.href = '@Url.Action("Maintenance", "Store")';

                    });
                },
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }, {
                        className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6]
                    }
                ],
            });
        }
        });
    });



    $(function () {
        $("#dialog-add-new-supplier").dialog({
            autoOpen: false,
            width: "60%",
            maxWidth: "60%"
        });
    });

    $('#btn-add-new-supplier').on('click', function () {
        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' });
        $('#dialog-add-new-supplier').dialog('open');
    });

    $("#dialog-add-new-supplier").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' });
        $('#dialog-add-new-supplier').dialog('close');
    });

    $("#dialog-submit-add-supplier").on("dialogclose", function (event, ui) {
        $('#parent_page').css({ 'opacity': 1, 'pointer-events': 'auto' });
        $('#dialog-submit-add-supplier').dialog('close');
    });

    $(function () {
        $("#dialog-submit-add-supplier").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });

    $('#btn-submit-add-supplier').on('click', function () {
        $('#dialog-add-new-supplier').dialog('close');
        $('#parent_page').css({ 'opacity': 0.2, 'pointer-events': 'none' });
        $('#dialog-submit-add-supplier').dialog('open');
    });
</script>
<div id="loading" style="font-family: 'Oxygen', sans-serif;">

    <div>
        <h5>Maintenance - Supplier</h5>
    </div>


    <table id="dataTable-store-suppliers" class="display" style="width:80%;">
        <thead style="font-size: 10pt;">
            <tr>
                <th>Supplier Code</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Phone No.</th>
                <th>Fax No.</th>
                <th>Address</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt;"></tbody>
    </table>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div style="float: right">
                <span>
                    <button id="btn-add-new-supplier" class="btn btn-lu-blue" style="font-size: 10pt;">Add New Supplier</button>
                </span>
            </div>
        </div>
    </div>

    <div id="dialog-add-new-supplier" class="hidden" style="overflow-x:hidden;">
        @using (Html.BeginForm("AddNewSupplier", "StoreMaintenance", FormMethod.Post, new { id = "form-submit-add-new-supplier", autocomplete = "off" }))
        {
            <br />
            <div style="text-align:center;">
                <h5>Add Supplier</h5>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Supplier Code:&nbsp;</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SupplierCode, new { htmlAttributes = new { @class = "form-control", @maxlength = "12", @placeholder = "Supplier Code", @id = "new-supplier-code" }, })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Company Name:&nbsp;</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @placeholder = "Company Name", @id = "new-supplier-company-name" }, })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Contact Name:&nbsp;</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @placeholder = "Contact Name", @id = "new-supplier-contact-name" }, })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Phone Number:&nbsp;</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control", @maxlength = "10", @min = "1", @step = "1", @type = "number", @placeholder = "Phone No", @id = "new-supplier-phone" }, })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Fax Number:&nbsp;</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.FaxNo, new { htmlAttributes = new { @class = "form-control", @type = "number", @maxlength = "10", @min = "1", @step = "1", @placeholder = "Fax No", @id = "new-supplier-fax" }, })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Supplier Address:&nbsp;</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @placeholder = "Address", @id = "new-supplier-address" }, })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>GST Reg No:&nbsp;</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.GSTRegistrationNo, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @placeholder = "GST Reg No", @id = "new-supplier-gst-no" }, })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Email:&nbsp;</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @maxlength = "255", @placeholder = "Email", @id = "new-supplier-email" }, })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <input id="btn-submit-add-supplier" class="btn btn-lu-green btn-block" type="submit" value="Add" />
        }
    </div>

    <div id="dialog-submit-add-supplier" class="hidden" style="overflow-x:hidden;">
        <br />
        <div style="text-align:center;">
            <h5>New Supplier has been successfully added!</h5>
        </div>
        <hr />
    </div>
</div>