@{
    Layout = null;
}

<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<script>
    var table;

    $(document).ready(function () {

    $.ajax({
        url: 'http://localhost:49921/api/Restful/GetSuppliersList/'+ '@Session["MaintenanceSupplierCode"]',
        method: 'get',
        dataType: 'json',
        success: function (data) {
            d = data;

            table = $('#dataTable-store-suppliers-details').DataTable({
                paging: false,
                sort: false,
                searching: false,
                "iDisplayLength": 5,
                "bInfo": false,
                //scrollY: 200,
                scrollX: 1000,
                data: data,
                columns: [
                    { 'data': 'SupplierCode' },
                    {
                        'data': 'CompanyName',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-supplier-company-name" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    {
                        'data': 'ContactName',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-supplier-contact-name" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    {
                        'data': 'PhoneNo',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-supplier-phone-no" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    {
                        'data': 'FaxNo',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-supplier-fax-no" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    {
                        'data': 'Address',
                        "render": function (data, type, full, meta) {
                            return '<input id="input-supplier-address" type="text" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    {
                        'data': 'Active',
                        render: function (data, type, row) {

                            if (data != 0) {
                                //active status
                                return '<input id="input-supplier-active" type="checkbox" checked>';
                            } else {
                                return '<input id="input-supplier-active" type="checkbox">';
                            }
                        }
                    },
                ],
                columnDefs: [
                    {
                        //"targets": [0],
                        //"visible": false,
                        //"searchable": false
                        className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6]
                    }
                ],
            });
        }
        });
    });

    $(function () {
        $("#dialog-submit-edit-supplier").dialog({
            autoOpen: false,
            width: "40%",
            maxWidth: "40%"
        });
    });


    $(document).ajaxComplete(function () {
        $('#btn-edit-supplier').click(function () {
            var dataToSend = "";
            var arr = [];

            dataToSend = table.rows(0).data();
            for (var i = 0; i < Object.keys(d).length; i++) {
                var rowData = dataToSend[i];
                rowData.CompanyName = $("#input-supplier-company-name").val();
                rowData.ContactName = $("#input-supplier-contact-name").val();
                rowData.PhoneNo = $("#input-supplier-phone-no").val();
                rowData.FaxNo = $("#input-supplier-fax-no").val();
                rowData.Address = $("#input-supplier-address").val();
                rowData.Active = $("#input-supplier-active").prop('checked');

                arr.push(rowData);
            }

            $('#dialog-submit-edit-supplier').dialog('open');


            $.ajax({
                type: 'POST',
                url: '/Store/StoreMaintenance/Suppliers/EditSupplier',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({ arr: arr })
            });

            window.location.href = '@Url.Action("Maintenance", "Store")';

        });
    });
</script>

<div>
    <h5>Supplier: @Session["MaintenanceSupplierCode"]</h5>
</div>


<table id="dataTable-store-suppliers-details" class="display" style="width:80%;">
    <thead style="font-size: 10pt;">
        <tr>
            <th>Supplier Code</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Phone No.</th>
            <th>Fax No.</th>
            <th>Address</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody style="font-size: 10pt;"></tbody>
</table>

<hr />

<div class="row">
    <div class="col-md-10">
        <div style="float: right">
            <span>
                @Html.ActionLink("View Price List", "Home", "Store", null, new { @class= "btn btn-lu-blue", @style="font-size: 10pt; color: #f4f4f4;" })
            </span>
        </div>
    </div>
    <div class="col-md-1">
        <span>
            @using (Html.BeginForm("BackToSuppliersMaintenanceList", "StoreMaintenance", FormMethod.Post))
            {
                <input class="btn btn-lu-blue" type="submit" value="Back" style="font-size: 10pt;"/>
            }
        </span>
    </div>
    <div class="col-md-1">
        <span>
            <button id="btn-edit-supplier" class="btn btn-lu-green" style="font-size: 10pt;">Save</button>
        </span>
    </div>
</div>

<div id="dialog-submit-edit-supplier" class="hidden" title="Edit Supplier Successful (Maintenance)">
    <p>Supplier has been successfully edited.</p>
</div>